.site_logo {
    margin: 0px;
    padding: 0px;
    border: 0px;
    float: left;
}

body {
    margin: 0px;
    background-color: #323241;
    padding-left: 150px;    /* LC fullwidth */
    color: black;
    /* padding-right: 190px;   /\* RC fullwidth + CC padding *\/ */
}

.top_left_table td, .top_left_table th{
    text-align: left;
    vertical-align: top;
}

#site_header {
    margin-left: -150px;
    margin-right: 0px;
    background-image: url(/etc/images/full_cloud.png);
    height: 95px;
    background-color: grey;
    display: block;
}

#site_buttonbox {
    padding-top: 55px;
    padding-bottom: 0px;
    margin: 0px;
    height: 25px;
    list-style: none;
    display: block;
}

li.button a {
    text-decoration: none;
}

a {
    color: #732fb2;
}

a:visited {
    color: #491a6e;
}

a:hover {
    color: #8f63ab;
}


A IMG {
    border: 0px;
}


#buttonbox li {
    /* 
     * margin: 4px;
     * padding: 4px;
     */
    margin: 0px;
    margin-right: 4px;
}

div.archives h3 {
    border-style: solid;
    border-width: 3px;
    border-color: #242035;
    background-color: #c2bed7;
    margin-bottom: 5px;
}
    

div.widget ul {
    margin-top: 3px;
    padding-left: 0px;
    margin-left: 0px;
    list-style: none;
}

div.archives a {
    border-style: solid;
    border-width: 2px;
    border-left-width: 0px;
    border-color: #282531;
    background-color: #403854;
    color: #d0c3f2;
    padding-left: 3px;
    margin-bottom: 2px;
    margin-right: 4px;
    text-decoration: none;
}

div.widget ul li a {
    color: #d0c3f2;
    text-decoration: none;
}

.button {
    display: inline;
}

#container {
    width: 100%;
    margin-bottom: 200px;
}

#site_sidebar {
    margin-left: -150px;
    left: 0px;
    top: 95px;
    width: 147px;
    background-color: #aeb1c4;
    float: left;
    min-height: 300px;
    border-style: solid;
    border-left-width: 0px;
    border-right-width: 3px;
    border-top-width: 0px;
    border-bottom-width: 3px;
    border-color: #0e0e16;
    background-image: url(/etc/images/textured_sidebar.png);
    padding-bottom: 5px;
}

#site_sidebar h3 {
    margin-top: 0px;
}

#site_content {
    margin-left: -150px;
    top: 95px;
    bottom: 20px;
    right: 0px;
    /* background-color: #323241; */
}

#site_content__sidebar {
    top: 95px;
    bottom: 20px;
    right: 0px;
    /* background-color: #323241; */
    float: left;
    width: 100%;
}


#site_footer{
    padding-top: 5px;
    min-height: 20px;
    max-height: 50px;
    background-color: #615442;
    color: #d9cbb8;
    margin-left: -150px;
    clear: both;
    background-image: url(/etc/images/dustycloud_footer.png);
    background-position: 0px 0px;
    border-style: solid;
    border-color: black;
    border-width: 0px;
    border-top-width: 3px;
    font-family: courier;
    font-size: smaller;
    padding-bottom: 2px;
    text-align: right;
    padding-right: 10px;
}

#site_footer a {
    color: #d9cbb8;
}

/* should be moved to blog.css */

.entry {
    border: solid;
    border-width: 3px;
    border-color: #1b1b27;
    background-color: #d6d3dd;
    margin: 5px auto;
    max-width: 1024px;
    padding: 0px;
    border-radius: 5px;
    line-height: 1.4;
}

@media screen and ( max-width: 800px ){
    .entry {
        margin: 5px;
    }
}

.plain_content {
    border: solid;
    border-width: 3px;
    border-color: #1b1b27;
    background-color: #d2d2d6;
    margin: 5px;
    padding: 4px;
    margin-left: 10px;
    margin-right: 10px;
    float: center;
    border-radius: 5px;
}



.plain_content H1 {
    text-align: center;
    margin: -4px;
    margin-bottom: 2px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-style: dashed;
    border-color: #5c5c85;
    background-color: #a3a3b3;
    font-family: courier;
    font-size: 18pt;
    border-radius: 2px 2px 0px 0px;
}


.entry div.text {
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}    

.entry h3, .entry h2 {
    background-color: #e4e3e9;
    border-bottom-style: solid;
    border-color: #3e2e5b;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}

h2.entry_title a {
    text-decoration: none;
    color: #561f85;
}

h2.entry_title a:hover {
    color: #956cb7;
}

.entry p.meta {
    /* border-bottom-style: solid; */
    border-color: #3e2e5b;
    background-color: #403854;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: smaller;
    color: #c9c1bb;
}

.entry p.meta a {
    color: #8484de;
}

.post_content {
    padding: 0px;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.entry p.related {
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    font-size: smaller;
}


#comments_container {
    border-color: #1b1b27;
    border-width: 3px;
    border-style: solid;
    background-color: #bebec4;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
}

#comments_title {
    text-align: center;
    margin: 0px;
    margin-left: -5px;
    margin-right: -5px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-style: dashed;
    border-color: #5c5c85;
    background-color: #a3a3b3;
}

.comment div.text {
    font-size: 11pt;
}

.comment p.meta {
    font-size: 8pt;
    text-align: right;
}

.comment_separator {
    width: 100%;
}

ul#comments {
    padding: 0px 0px 0px 3px;
}

li.comment {
    list-style: none;
    padding: 0px;
    margin: 0px;
    border-width: 0px 0px 2px 0px;
    border-style: dashed;
}

#blog_infobox {
    border-color: #1b1b27;
    border-width: 3px;
    border-style: solid;
    background-color: #bebec4;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
}

#blog_infobox_title {
    text-align: center;
    margin: 0px;
    margin-left: -5px;
    margin-right: -5px;
    border-width: 0px;
    border-bottom-width: 2px;
    border-style: dashed;
    border-color: #5c5c85;
    background-color: #a3a3b3;
    font-weight: bold;
}

div.pagination {
    color: #D6D3DD;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.pagination a {
    color: #6363cb;
}

.centered {
  text-align: center;
}

h1.page-title {
  padding-left: 5px;
  color: #d6d3dd;
  text-align: center;
  text-shadow: 2px 2px #514b5f;
}

h2.divider-title {
  padding-left: 5px;
  color: #d6d3dd;
  text-align: center;
  text-shadow: 2px 2px #514b5f;
}


a.tag-0 {
  font-size: 140%;
}
  
a.tag-1 {
  font-size: 120%;
}

a.tag-2 {
  font-size: 100%;
}

a.tag-3 {
  font-size: 80%;
}

a.tag-4 {
  font-size: 60%;
}

div.toon-chris {
    float: right;
    width: 325px;
    height: 294px;
    background-image: url(/etc/images/libreplanet_toon_chris.png);
}

div.toon-chris:hover {
    background-image: url(/etc/images/libreplanet_photo_chris.png);
}

div.highlight {
    margin-left: 10px;
    padding: 3px;
    padding-left: 10px;
    background-color: #f8f8f8;
}

.literal-block {
    padding-left: 20px;
}

p.caption {
  text-align: center;
  font-style: italic;
}

div.figure {
  text-align: center;
  padding-top: 5px;
}

.entry img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

div.pagination {
    width: fit-content;
    margin: auto;
    margin-let: auto;
    margin-right: auto;
    box-shadow: 0px 0px 3px #cec6d2;
    border-radius: 5px;
    border: 3px solid #675f68; 
    background: #e4e3e9;
    color: #675f68;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}


div.code {
    border-radius: 5px;
    border: 3px solid #110e13;
    background: #110e13;
    color: #d3ccdc;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    white-space: pre;
    font-family: 'Inconsolata', monospace;
}

pre {
    border-radius: 5px;
    border: 3px solid #110e13;
    background: #110e13;
    color: #d3ccdc;
    padding: 20px;
    margin: 20px;
    font-family: 'Inconsolata', monospace;
    overflow: scroll;
    font-size: 125%;
    line-height: 1.1;
}

