title: Contact me (Christine Lemmer-Webber)!
---
<p>
  You can contact me, Christine Lemmer-Webber, by a number of means, but the
  best is by far by Jabber.  I'm almost always on, and I'm usually
  hovering around a computer in some form or another.
</p>

<table>
  <tr>
    <th>XMPP / Jabber</th>
    <td>
      cwebber AT dustycloud DOT org
    </td>
  </tr>
  <tr>
    <th>IRC</th>
    <td>
      Server: <code>irc.libera.chat</code> <br />
      Username: <code>cwebber</code> (<code>dustyweb</code> as an alias)
    </td>
  </tr>
  <tr>
    <th>Email</th>
    <td>
      cwebber AT dustycloud DOT org
      <br/>
      OR, for work stuff: christine AT spritely DOT institute
    </td>
  </tr>
  <tr>
    <th>Fediverse</th>
    <td>
      <a href="https://octodon.social/@cwebber">https://octodon.social/@cwebber</a>
    </td>
  </tr>
  <tr>
    <th>Twitter</th>
    <td>
      <a href="https://twitter.com/dustyweb">@dustyweb</a>
    </td>
  </tr>
</table>
