template: home
---
<div class="plain_content">
  <h1>Dusty Cloud Brainstorms: Don't mind the mess</h1>

  <p>
    My name is Christine Lemmer-Webber.
    Welcome to my humble home.
    I'm not very good at hospitality, but help yourself to whatever's
    in the pantry.
    Would you like a cup of
    <a href="http://en.wikipedia.org/wiki/Honeybush">honeybush tea</a>?
    There was some green tea in there too but I don't know
    where I put it.
  </p>

  <p>
    A lot of my work is funded by generous donors these days.
    If you find my work interesting, maybe join the
    FOSS & Crafts Studios
    <a href="https://www.patreon.com/fossandcrafts">Patreon</a> thing
    (which covers my work under its umbrella...
    or you could also donate to my <a href="https://liberapay.com/cwebber">Liberapay</a>,
    if you prefer).
    Your support is appreciated!
  </p>

  <p>
    Additionally, I co-host (with my spouse Morgan!) a podcast about
    user freedom and crafting called
    <a href="https://fossandcrafts.org/">FOSS and Crafts</a>, if you are
    into that kind of thing.
  </p>

  <p>
    I keep a <a href="/blog/">blog</a> (well kind of), and much more
    frequently I <a href="https://octodon.social/@cwebber">microblog</a>
    (on the <a href="https://twitter.com/dustyweb">birdsite</a> too,
    if you must).
    Occasionally I also do some artwork.
    I am most happy in life when I am being creative.
  </p>

  <p>
    Aside from writing, I do a fair amount of coding, even outside of
    work.
    I like Lisps a lot, especially
    <a href="https://www.gnu.org/software/guile/">Guile</a> and
    <a href="https://racket-lang.org/">Racket</a>.
    I've done a lot of Python, but less so lately.
    I am an avid supporter of both
    <a href="http://www.gnu.org/philosophy/free-sw.html">Free Software</a>
    and <a href="http://freedomdefined.org/Definition">Free Culture</a>;
    most of the work I do involves user freedom in some way,
    particularly in conjunction with network freedom issues.
  </p>

  <p>
    I guess if you're here you might be interested in knowing a bit
    about me.  I'm a native of
    <a href="http://www.ci.mil.wi.us/">Milwaukee</a> but these days I
    reside in Easthampton, MA (a lovely little town).
    I am co-editor of the <a href="https://www.w3.org/TR/activitypub/">ActivityPub</a>
    federated social networking standard, and I co-founded
    <a href="http://mediagoblin.org/">GNU MediaGoblin</a>.
    Previously I worked as as a software engineer at
    <a href="http://creativecommons.org">Creative Commons</a>.  I used
    to do a bunch of other things, but I have decided having a long
    list on the front page of my site was rather silly.  I am married
    to Morgan Lemmer-Webber, who has been the most wonderful and
    loving partner I could ever imagine.  I still don't know how she
    manages to put up with me.
  </p>

  <p>
    I used to go by "Christopher Allan Webber"
    but I found appending part of my spouse's name resulted in less
    naming conflicts, which were common even in FOSS.
    Then later, I went by "Christopher Lemmer Webber".
    However, since coming out as
    <a href="https://fossandcrafts.org/episodes/30-gender-sexuality-personal-perspective.html">trans-femme nonbinary</a>
    I go by "Christine Lemmer-Webber" now.
    If you are wondering about temporary lexical variables (pronouns)
    in the English language, please use feminine or nonbinary pronouns.
    Thanks!
  </p>

  <p>
    Socially, I'm a bit odd.  I don't like large parties or loud
    organizations of people I don't know.  I do, however, enjoy
    dialogue, and if you think you'd enjoy meeting up for a cup of
    coffee or tea, and you're in the Western Massachusetts
    area, <a href="/contact/">contact me</a>.
  </p>

</div>
