title: 1st year anniversary (and an upcoming move)
date: 2010-05-31 23:18
tags: personal, family, wedding
author: Christine Lemmer-Webber
slug: 1st-year-anniversary-and-an-upcoming-move
---
<p>Yesterday was Morgan and I's first year anniversary.  One year ago, we were <a href="http://wedding.dustycloud.org/">married</a>.</p>

<p>Not much more to say I guess.  Being married isn't much different than living together before marriage, except that now it's clearer that we're in this together for the long haul.</p>

<p>As evidence to that sort of thing... a little over a year ago I mentioned that we <a href="/blog/life_update_march_2009">may be moving</a>.  It's no longer a "may be moving" thing... I'm happy to say that Morgan got into grad school at <a href="http://www.niu.edu/">Northern Illinois University</a>, so we're moving to DeKalb, Illinois.  There are a lot of things I'm going to miss about Chicago, most especially my friends and the marvelous tech scene here  (marvelous enough that almost all of my friends in Chicago are part of the tech scene here).  But no need to get terribly weepy-eyed... I'll actually be back fairly frequently for usergroup meetings and the like.  Plus, there are a few things to look forward to in DeKalb... like really, really cheap rent.</p>

<p>Here's to many more happy years to come.  :)</p>
