title: An Icon I Need Tomorrow
date: 2017-08-09 15:32
author: Christine Lemmer-Webber
tags: fiction
slug: an-icon-i-need-tomorrow
---
<p>
  So this post is, like the story below, kind of a dumb distraction
  while I should be doing (or even blogging) more important things, but
  maybe it's entertaining?
  I may have borrowed a joke from
  <a href="http://thrillingadventurehour.com/">The Thrilling Adventure Hour</a>.
  Anyway I don't really know what's the point in posting this aside from
  demonstrating that I am down to narratively improvise, any time, any place
  (given the appropriate story cues at least).
  This starts off with a conversation with my friend
  <a href="https://www.harihareswara.net/">Sumana</a> on IRC.
</p>

<pre><code>
&lt;sumanah&gt; hi paroneayea -- hope you are doing well
&lt;sumanah&gt; paroneayea: you may find this amusing -- I ran across this Noun
	  Project "collection" and distracted Jason for a few minutes as we
	  tried to suss out the theme
          <a href="https://thenounproject.com/petervandriel/collection/an-icon-i-need-tomorrow/">https://thenounproject.com/petervandriel/collection/an-icon-i-need-tomorrow/</a>
</code></pre>

<p class="centered">
  <a href="https://thenounproject.com/petervandriel/collection/an-icon-i-need-tomorrow/">
    <img src="/etc/images/blog/noun_project_an_icon_i_need_tomorrow.jpg" alt="Some guy really needs this icons" />
  </a>
</p>

<code><pre>
&lt;paroneayea&gt; sumanah: hi!
&lt;paroneayea&gt; sumanah: wow
&lt;sumanah&gt; paroneayea: YES
&lt;sumanah&gt; what is happening tomorrow?
&lt;sumanah&gt; the world must know
&lt;paroneayea&gt; sumanah: I can only imagine a sexy murder cover-up with an office
	     intrigue
&lt;sumanah&gt; paroneayea: the insect? the egg?
&lt;sumanah&gt; I want a grand unified theory here
&lt;sumanah&gt; maybe it's like Upstream Color
&lt;paroneayea&gt; Two coworkers, who are secretly lovers, meet and exchange
	     "documents".  (It is a plan, a plan for murder.)
&lt;paroneayea&gt; An elderly relative dies.  Their walker is found alone.
&lt;paroneayea&gt; "The act is done", he whispered, passing by her desk.
&lt;paroneayea&gt; Drive to dump the body. The body is dumped.
&lt;paroneayea&gt; Sexy "ha ha it's over" scene.
&lt;paroneayea&gt; "Can we keep our relationship a secret?"
&lt;paroneayea&gt; Beware, the watercooler talk!
&lt;paroneayea&gt; Three construction workers return to their job and discuss, why
	     did our construction equipment move
* cdonnelly is on the edge of her seat
&lt;paroneayea&gt; [Combining two:] With any luck, the scheme won't break.
&lt;paroneayea&gt; Back, meeting at the lovers' home, dinner is cooking on the stove
	     as the couple talks about their life together.
&lt;paroneayea&gt; Suddenly, a call from the royal guard; "Madam, did you know that
	     your Relative(TM)/Former Lover has died????"
&lt;paroneayea&gt; The woman, mid-lipstick application, pauses.
&lt;paroneayea&gt; She drops the egg, which she was about to crack into the pot.  It
	     breaks, symbolically revealing the break in their plan.
&lt;paroneayea&gt; She accidentally brushes against the pound key.  "Madam are you
	     there?  Madam?"
&lt;paroneayea&gt; "Yes sorry, I'm writing down the address.  Yes, I'll be there in
	     half an hour."
&lt;paroneayea&gt; The phone is hung up, she is afraid.  "Calm down, let's finish
	     our dinner first."  They eat.
&lt;paroneayea&gt; Then they get ready to leave.  She loads her lipstick, which also
	     happened to be a bullet, into her gun.
&lt;paroneayea&gt; (gosh this is getting hard)
* sumanah was wondering whether paroneayea was going to notice that the icon
  looks like a lipstick but is labelled as a bullet
&lt;paroneayea&gt; (I already noticed, I tried to do "her lipstick, which is also a
	     bullet" but got lazy then)
* sumanah wonders: a safe deposit box? a self-storage locker?
&lt;paroneayea&gt; He locks the household, and on the way out, makes sure that the
	     key to the safe is still there.
&lt;paroneayea&gt; Now they are back at the construction site.
&lt;paroneayea&gt; The police officer is taking down the record.  Uhuh, yes.  Uhuh,
	     that sounds about right.
&lt;paroneayea&gt; As the record goes on, their story fills the page but also begins
	     to unravel.
* cdonnelly gasps
&lt;paroneayea&gt; The man nervously thumbs through his keys, and then drops them.
	     The officer says, "Hold on, you dropped your keys sir, let me
	     pick those up for you..." when he picks them up, he sees one key
	     in particular... encrusted in blood.
&lt;paroneayea&gt; "Wait a minute... 5608... this is.. exactly the key to the safe
	     of the man who died recently!"  "That can't be it, hold on a
	     minute..." "I'm calling this in.. sir and madam you're under
	     arrest..."
&lt;paroneayea&gt; The woman pulls the gun out of her makeup bag.  "Don't make me
	     shoot!  I've loaded this with lipstick and I'm dangerous!"
&lt;paroneayea&gt; * (But BAM BAM, it went off!  A bullet case / lipstick container,
	     labeled Checkov's Cosmetics, falls ominously to the floor.)
&lt;paroneayea&gt; They run!  Into the sewers.  A cockroach scatters out of the way.
&lt;paroneayea&gt; Squeak!  A Rat darts right out of the way, just in time.  "I
	     can't take any more of this.  I won't soil my suit running into
	     this sewer any more!"  "Damnit Jim, if you run out you'll give us
	     all away!"  "I don't care Janice!"  (I guess they have names
	     now.)
* cdonnelly giggles
* sumanah suspects a particular thing is going to happen next
* jasonaowen too
&lt;paroneayea&gt; "I won't let you do this!  I've worked too hard for this damnit!"
	     A gun is pulled!   A shot is fired!  The man falls to the floor,
	     gasping for breath!  "If I'm going down, you're going down with
	     me!"  The woman cries out in pain, and falls to the floor dying
	     as well... but what could have possibly killed her?
&lt;paroneayea&gt; The scene cuts to outside.  The police have pulled the bodies out
	     of the sewer.  "Gosh, this whole thing got complicated really
	     fast.  It sure did end quickly though.  What could have possibly
	     cut this whole series of narrative devices down all at once?"
	     "Take a look at this Harry."  What's that sticking out of her
	     chest?  Oh of course... the murder weapon..." &lt;cotd&gt;
&lt;paroneayea&gt; The guard seals the razor, which had cut it all down at once,
	     into a plastic bag.  "Occam's Razor company... it always seems to
	     bring a quick end to stories like these..."
&lt;paroneayea&gt; FIN
* sumanah applauds
* cdonnelly applauds
&lt;paroneayea&gt; brought to you by I have played way too many fucking RPGs
&lt;jasonaowen&gt; paroneayea: <a href="https://i.imgur.com/e9U73gy.gifv">https://i.imgur.com/e9U73gy.gifv</a>
&lt;paroneayea&gt; If nobody minds I'm going to post this on my blog or something,
	     might as well get a blogpost out of that distraction ;)
&lt;jasonaowen&gt; paroneayea: please do :)
&lt;cdonnelly&gt; paroneayea: +1 to blog post
&lt;sumanah&gt; paroneayea: I was like "I think today I have materially delayed the
	  development of ActivityPub" so I would encourage you to post it
&lt;paroneayea&gt; sumanah: haha :)
* kfogel reads backscroll, vows never to leave desk again
</pre></code>
