title: Chicago Free Geek and other volunteering thoughts
date: 2008-02-26 21:43
author: Christine Lemmer-Webber
slug: chicago-free-geek
---
<p>I've been feeling a lot lately that I haven't been making enough of a
social contribution as of late.  I'd like to give back in ways that I
feel best use my talents, and I've been thinking a lot about open
source and all the good that comes with software freedom.</p>
<p>So this last Sunday I took a trip along with a friend of mine to the
<a href="http://freegeekchicago.org/">Chicago Free Geek</a> (which is just one of
a <a href="http://freegeek.org/family.php">larger family</a> of Free Geek
groups).  The Free Geek movement is one with a quite noble cause;
volunteers there take donated old computers and construct working
computers out of the old parts, salvaging what works and recycling
what doesn't.  The new computers they build from the old parts are
then installed with the <a href="http://www.xubuntu.org/">Xubuntu</a> GNU/Linux
distribution.  (Xubuntu is really just <a href="http://ubuntu.com">Ubuntu</a>
with <a href="http://www.xfce.org/">XFCE</a> as its default desktop. XFCE's a bit
faster and leaner than <a href="http://www.gnome.org/">GNOME</a>, the otherwise
default Ubuntu desktop).  These computers then make their way mostly
to people who couldn't otherwise afford them, either by being sold for
ultra-cheap (the money then goes toward recycling the unusable parts
and upkeep) or through a program where individuals can earn computers
by helping with the recycling and building for a number of hours.</p>
<p>In short, it's a damn cool group, and I really enjoyed being there.
The location's a bit grungier than I expected (even though I expected
grungy).  It's in the middle of a bit of a basement, and it was a bit
cramped, but it seems that it wasn't always that way; if I understand
what I was being told, the gate surrounding the work area was only
recently put up by the landlord (I wasn't told why...  funding?).  Not
all the computer parts were moved into the gate yet, and I'm not quite
sure how they were going to get it all in.  One of the volunteer staff
pointed to a large pile of parts, informing me that, once they
recycled those, they'd be able to fit more within the space, but they
needed to raise more money before they could do so.</p>
<p>Despite things being a bit cramped an grungy, I really did enjoy the
work.  It was very much so hardware related.  That's not outside my
area of knowledge... I was a datacenter monkey at my previous
job... but I must admit that I much prefer the area in which I
currently work, that of software development.  I'll probably be coming
back for some more volunteering, but I can't help but feel that my
skills are better suited for a much more software-oriented approach to
activism.  I really do believe in the empowerment that <a href="http://www.gnu.org/philosophy/free-sw.html">free
software</a> brings, and I'd
like to spread that empowerment to more people.  I've been thinking
quite a bit that the bringing free software to education is probably
the most important and useful route I could follow.</p>
<p>I am considering contacting some of the more underfunded schools in
the area to see how I can help.  Not too long ago, some other
volunteering led to discussions with a principal who seemed interested
in taking this route.  I am going to try to contact him, and see where
that takes me.  When more happens, I will write about it here.</p>
<p>In the meanwhile, that friend of mine has been volunteering at a local
community computer center, and has begun to install Linux there.
Perhaps I will visit there and continue to volunteer at the local Free
Geek chapter as I continue to figure out this education thread.</p>
