title: Donate to Software Freedom Conservancy
date: 2014-12-03 10:00
author: Christine Lemmer-Webber
tags: 
slug: donate-to-conservancy
---
<p>
  Hello everyone!  It's that time of the year again, and many people
  are considering: who they are going to donate to this year?
</p>

<p>
  If you are a supporter of computing freedom, there are a lot of great
  places to put your money.  The <a href="http://fsf.org/">FSF</a> and
  <a href="https://www.eff.org/">EFF</a> are great places, and
  probably the most commonly recommended (also worth your money!),
  though this year I'm going to suggest you also consider the
  <a href="http://sfconservancy.org/">Software Freedom Conservancy</a>.
  They just launched a
  <a href="http://sfconservancy.org/supporter/">membership program</a>
  today, and I recommend you join.  I just did!
</p>

<p class="centered">
<a href="https://sfconservancy.org/supporter/"><img src="https://sfconservancy.org/img/supporter-badge.png" width="194" height="90" alt="Become a Conservancy Supporter!" border="0" /></a>
</p>

<p>
  Whether you realize it or not, you probably depend day to day on
  some software that Conservancy helps support... which it turns out
  is a lot: <a href="http://www.git-scm.org/">Git</a>,
  <a href="http://www.inkscape.org/">Inkscape</a>,
  <a href="http://www.selenic.com/mercurial/wiki/">Mercurial</a>,
  <a href="http://www.winehq.org/">Wine</a>,
  <a href="http://www.busybox.net/">BusyBox</a>... these are just a
  few of the
  <a href="http://sfconservancy.org/members/current/">many projects</a>
  that are members of Conservancy.  And Conservancy does
  <a href="http://sfconservancy.org/members/services/">a lot of stuff</a>
  for their member projects!  (Not to mention a number of things that
  benefit free software that don't even hit that list, including
  Conservancy employees spreading information on best practices and
  participating in efforts to protect the legal freedoms of all free
  software... I recommend subscribing to Bradley Kuhn and Karen
  Sandler's podcast <a href="http://faif.us/">Free as in Freedom</a>...
  I've learned a lot from there, and am learning more all the time!)
  What I'm trying to say here is: donating to Conservancy is a real
  bang for your buck. :)
</p>

<p>
  So this holiday season, join me in helping
  <a href="http://sfconservancy.org/supporter/">make Software Freedom Conservancy's membership program a success</a>!
  Your user freedoms will thank you for it!
</p>
