title: Don't Repeat Myself
date: 2011-12-14 15:35
tags: personal, mediagoblin
author: Christine Lemmer-Webber
slug: dont-repeat-myself
---
<p>Today I went in for an exploratory surgery... a very minor
outpatient procedure.  Actually, I've never undergone surgery before.
As the anesthesiologist put me into sedation, I handed the book I had
been reading over to Morgan (one of if not the first programming books
I had ever picked up, which was on C, and which I decided was time to
seriously revisit).  Morgan said to me, "Basically, you'll go to
sleep before you know it, and then you'll wake up, they'll tell you
it's over, and you'll be like 'What, already?'"</p>

<p>As I sat in the surgical room and started to space out, I was still
thinking about coding, and my thoughts about coding must have started
to shift over to <a href="http://mediagoblin.org/">MediaGoblin</a> and
its community.  Suddenly I was at my computer.  I started writing a
blogpost, full of all the things I've been thinking about and have
learned by working on the project over the last many months; my
thoughts on community, releases, communication, everything.  I ran it
through ispell-buffer.  I was super pleased with it.  I was ready to
commit it and push it over to my site.</p>

<p>Then I woke up to a nurse telling me, "That's it, we're done, you
can wake up now!"</p>

<p>"Damnit," I mumbled.  "Now I have to write that whole damned thing
all over again."</p>
