title: Interviewed about MediaGoblin on Frostcast
date: 2012-03-01 22:20
tags: mediagoblin, podcast, frostcast, interview
author: Christine Lemmer-Webber
slug: frostcast-mediagoblin-interview
---
<p>I <a href="http://frostbitemedia.org/sites/default/files/Frostcast%20060.ogg">got
interviewed about MediaGoblin</a> on the
excellent <a href="http://feeds.feedburner.com/frostcastogg">Frostcast</a>
of <a href="http://www.frostbitemedia.org/">FrostbiteMedia</a>.  This
happened over a month ago, but life has been intense, and better late
than never in blogging it.  Anyway, I talked to Jonathan Nadeau who
runs the podcast, and even though FrostbiteMedia doesn't specifically
say so, this episode is released under
<a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative
Commons Attribution-Sharealike 3.0 Unported</a>.
(<a href="http://dustycloud.org/misc/frostcast_mediagoblin_interview.ogg">mirrored
  here</a>)</p>

<audio src="http://dustycloud.org/misc/frostcast_mediagoblin_interview.ogg">
  </audio><p>(Your browser doesn't appear to support HTML5 audio, but I
    <a href="http://dustycloud.org/misc/frostcast_mediagoblin_interview.ogg">mirrored
    the file here</a>.
  </p>


<p>Anyway, I've given it a few listens, and I'm super pleased with how
it came out.  We talk about the motivations behind
<a href="http://mediagoblin.org">MediaGoblin</a>, the underlying
architectural decisions, and even a bit of my own free software
personal history.  It went by really fast... hard to believe the show
comes out to about an hour.  (It was also my first time being
interviewed on a podcast or anything of the like before, and I had
some dumb self-inflicted technical difficulties.  Luckily, Jonathan
was very patient.)</p>

<p>
  By the way, I have a lot of respect for Jonathan Nadeau.  Jonathan
  is not only a free software activist, but also a blind user of free
  software.  He's also starting a nonprofit called
  the <a href="http://accessiblecomputingfoundation.org/">Accessible
  Computing Foundation</a> which aims to make the life of computer
  users with various disabilities better by improving the state of
  accessibility in free software.  Very cool and noble goal.  There's
  a good interview with him
  on <a href="http://sixgun.org/linuxoutlaws/246">this Linux Outlaws
  episode</a>.  Best of luck to you, Jonathan!
</p>
