title: Gnome 3
date: 2011-12-14 23:09
tags: gnome, nouveau
author: Christine Lemmer-Webber
slug: gnome-3
---
<p class="centered">
  <a href="/etc/images/blog/gnome_shell_3.0.png">
    <img src="/etc/images/blog/gnome_shell_3.0-scaled.png" alt="Gnome shell 3.0 in overview mode" /></a>
</p>

<p>There's been plenty of discussion on the blogosphere already about
<a href="http://www.gnome.org/gnome-3/">Gnome 3</a> already, and I'm
not sure this post will add much to it, but whatever.  A lot of people
hate it.  A lot of people love it.  A few people love it, but hate
certain things about it, but are optimistic that things are bound to
get better in the future, in which case they will completely love it.
I'm in that latter camp.</p>

<p>Let me put it this way: I recently got a new laptop, a Thinkpad
X220 tablet with a gorilla glass screen (yes I <i>am</i> trying to
make you jealous, because this is probably the best computing purchase
I have ever made in my life) and before I wiped windows and installed
Debian testing on it, I decided to try out a Fedora 15 live USB key to
see how nicely gnome 3 felt.  I instantly began to crave that this
could become my regular desktop environment.  Especially in tablet
mode, damn, it's really great... but even in not-tablet mode, it's
still really great.  But I installed Debian anyway because I'm pretty
used to it, and pined for the day when Gnome 3 would become available
in testing.</p>

<p>Sometime last month, that became available.  I upgraded
and never looked back.</p>

<p>...well, kinda.</p>

<p>Gnome 3 has been really great on my laptop, great enough that I
eventually lost patience with my desktop (on which I was running
StumpWM, which I mostly enjoyed except when I wanted to use the GIMP,
which is often, but that's another post of its own that I'll never
write) and upgraded that from Debian stable-&gt;testing too.  For the
first few minutes, I was in heaven.  Then the pain points began to set
in.</p>

<p>The main issue is that it keeps crashing on my dual monitor +
nvidia setup.  I did
<a href="https://bugzilla.gnome.org/show_bug.cgi?id=665565">file a
bug for this</a>, but a pretty miserable one.  There's no -dbg package
in Debian, and I haven't had the time to compile gnome-shell from
scratch to test it, so I just haven't been able to submit a decent
report with a backtrace.  Lame, I know.  But when it crashes on my
dual monitor setup (which happens once every hour or two), it usually
fails to recover and makes me log out, and then I lose all my work.
And then I'm sad.  It turns out this isn't just the proprietary nvidia
drivers either... stunningly enough I got the nouveau drivers to work
on my desktop and they work pretty damned well.  (Okay,
the <a href="http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=651462">overview
doesn't seem to work for me</a>, but that still seems to be pretty
good progress.  Did I mention that Blender runs well with nouveau too?
Pretty exciting.)  That's the main reason I switched away on my
desktop though... and bugs happen, I'm not meaning this post to blame
developers for that, just including this for context's sake.</p>

<p>But another thing, the Gnome developers currently seem to be
unconvinced that
<a href="https://bugzilla.gnome.org/show_bug.cgi?id=641723">persistent
notifications are a needed feature</a> because they clash with the
primary design philosophy of Gnome 3, which is that the shell
shouldn't interrupt you from whatever you're working on.  I can
understand this theory, but the fact is that it's simply
<i>wrong</i>.  I need to treat my IMs like a queue... if I miss a
message from a coworker, I need to respond to it.  And to respond to
it, I need to know it's there.  The fact is, sometimes when I <i>am</i>
hyperfocused on my task (when the goal of gnome shell is succeeding),
I will miss the subtle hints of messages, and I need to come back to
them at some point.  Anyway, <a href="http://blog.barisione.org/2011-11/permanent-im-notifications/">there's
an extension for that</a>, but it requires gnome-shell 3.2, and Debian
testing only has 3.0 in testing at the time of writing.  Which means
I'm back to pining for a gnome-shell Debian release.  I think this is
a bigger deal than the developers are acknowledging, and it's
something that <i>should</i> be provided by default; 3 of my coworkers
switched to gnome shell then switched away to XFCE largely because of
this issue.  That's a pretty big deal, and I think it's something that
should be addressed part of Gnome core, as not everyone will learn how
to install extensions (not everyone will in Firefox either).</p>

<p>But here are a few counterpoints to that: extensions do exist, and
they seem to be capable of doing a hell of a lot (even including <a href="http://gfxmonk.net/shellshape/">providing a tiling window
manager</a> if you're willing to run a modified mutter).  And people
who are doing the most complaining like "Gnome ruined everything!  We
had a perfect desktop!  It's all dead because the Gnome developers
killed the free software desktop!"  I wonder how many of these people
were around for Gnome 2.0, which was also not a perfect desktop
either.  In fact, around Gnome 2.0 I also switched away from Gnome in
frustration, experimented with a bunch of different window managers,
and eventually came back somewhere around 2006 and was surprised to
find that everything was just so damned... pleasant.  I think the same
thing is going to happen to Gnome 3 also.  In fact it already is.  And
I think this guy put it right: thanks to extensions, and given some
time, <a href="http://tech.slashdot.org/comments.pl?sid=2567230&cid=38321864">plenty
of users can be frog-boiled into loving the change in desktop
paradigm</a>.  That is, assuming that the developers and designers can
come to be convinced that walls users are running into are real
walls.  And they probably will.</p>

<p>One last thing, and this might be rude.  I've had a number of
friends who have been involved more closely in GNOME than I am
complain that there's a large amount of cliquishness in the GNOME
world, and even between separate parts of the contributor teams
(developers and designers not really talking and working directly
together?).  I don't really know if that's true for sure, I don't work
directly on GNOME, but I trust the friends who have said it, and I've
certainly seen plenty of <i>other</i> projects do this at least.  I've felt
pretty strongly that avoiding this kind of cliquishness in MediaGoblin
has been a big win for us.  I hope it isn't true for GNOME, and if it
is, that they can work on trying to avoid that.  But maybe I'm just
talking out of my ass on this one.  I would prefer that I was.  But if
not, hopefully people can realize that in-crowds in projects are not
the way to go.</p>

<p>Anyway, a sure sign that Gnome 3 is the future for me at least is
that when I am using XFCE on my desktop, I do keep moving my mouse to
the upper left corner and being sad when nothing happens.  I keep
using my laptop more because Gnome 3 <i>is</i> working there.  And I keep
refreshing the <a href="http://www.0d.be/debian/debian-gnome-3.2-status.html">status of
Gnome 3.2 in Debian</a> page.  Given enough time, and assuming the
developers <i>can</i> take the needs of their users seriously, I do
think Gnome 3 is the free software desktop that most people will come
to love.</p>

<p>Or, at least, ten years in the future when contributors kick off
Gnome 4, I think Gnome 3 will be the desktop that everyone will be
upset at being taken away and replaced with something else.</p>
