title: GNU MediaGoblin
date: 2011-05-05 15:41
tags: python, mediagoblin, foss, autonomous
author: Christine Lemmer-Webber
slug: gnu-mediagoblin
---
<p>I'm going to keep this brief.  Or rather, the original content brief.  We've launched a project called <a href="http://mediagoblin.org">GNU MediaGoblin</a> (yes, it's an official <a href="http://gnu.org">GNU project</a>) which is going to save the internet from media hosting homogenization.</p>

<p>Well, hopefully!  It all depends on how well we can organize ourselves, work hard, and organize our contributors.  Anyway, <a href="http://mediagoblin.org/2011/05/gnu-mediagoblin-free-and-decentralized-media-sharing-in-development/">read the announcement post</a>.  Sound interesting?  We could use your help.</p>

<p>Here's some more info:<br />
<ul>
  <li><a href="http://mediagoblin.org/about/">About GNU MediaGoblin</a></li>
  <li><a href="http://mediagoblin.org/join/">How to become a contributor</a></li>
  <li><a href="http://docs.mediagoblin.org/">Docs</a>! (Especially the <a href="http://docs.mediagoblin.org/hackinghowto.html">Hacking HOWTO</a>.)</li>
</ul>
</p>

<p>So far I've spent the last month putting down infrastructure, but we just announced the project this week and are getting a lot of interest.  The founding team is a pretty solid group of people I think, and we've got a number of people interested in contributing.  Again, we could use more.  This weekend I'll spend a bit of time making it easier to get involved.</p>

<p>Lastly, here's our mascot goblin:</p>

<p><img src="http://dustycloud.org/gfx/goodies/mediagoblin_mascot_attempt1.png" alt="MediaGoblin logo" /></p>

<p>I think he's pretty cute.  By the way, if you contribute to the project and do a copyright assignment to the <a href="http://fsf.org">FSF</a>, I will probably <a href="http://docs.mediagoblin.org/contributinghowto.html#contributing-thank-you-drawings-copyright-assignment">make a cool unique goblin dedicated to you</a>.  Copyright assignment on this project is not mandatory, unless you want the goblin. :)</p>

<p>Since announcing on Monday we're already starting to get quite a bit of press.  See:<br />
  <ul>
    <li><a href="http://www.networkworld.com/community/blog/gnu-mediagoblin-project-launches">On NetworkWorld</a></li>
    <li><a href="https://lwn.net/Articles/441828/">On LWN</a> (points to the NetworkWorld article)</li>
    <li><a href="http://www.golem.de/1105/83308.html">Some German article</a></li>
    <li><a href="http://www.pro-linux.de/news/1/17023/gnu-mediagoblin-vorgestellt.html">Another German article?</a></li>
    <li><a href="http://alt1040.com/2011/05/mediagoblin-el-proximo-gran-proyecto-gnu">Another article I don't know how to read, this one in Spanish</a></li>
  </ul><br />
... and since I had an interview last night, more is coming.  I'm kind of stunned, honestly.  I want to say "not bad for a project that just announced itself this week" but that understates the amount of surprise I have here.  We've got some cool people jumping on the project (we could use more!), a fair amount of infrastructure for a project that's just barely launching, and a lot to organize.  You can check out and run the code and there isn't a lot there from a user perspective (a lot more from a dev perspective) but hopefully soon we will be so beautiful you just won't be able to resist.  We're still kind of running on hopes and dreams here, and hopefully those hopes and dreams can become true.  It'll be a lot of hard work, but I think we can do it.  At the very least, we need to try!</p>

<p><a href="https://identi.ca/notice/72839550">Comment on this post on identi.ca!</a></p>
