title: Gonna speak on Blender at PyCon 2011
date: 2011-02-19 17:48
tags: python, conference, pycon, blender
author: Christine Lemmer-Webber
slug: gonna-speak-on-blender-at-pycon-2011
---
<p>Are you going to <a href="http://us.pycon.org/2011/home/">(the US) PyCon</a> this year?  I am!  And I'm pretty excited about it, since I will also be <a href="http://us.pycon.org/2011/schedule/presentations/82/">presenting on Blender's new Python API</a>!</p>

<p>The <a href="http://us.pycon.org/2011/schedule/lists/talks/">talk lineup</a> looks really great this year.  If you're planning to go, and you read this, maybe consider <a href="http://dustycloud.org/contact/">contacting me</a>; maybe we could say hello, potentially having one or more interesting conversations!</p>
