title: Goodbye 2015, Hello 2016
date: 2016-01-04 14:38
author: Christine Lemmer-Webber
tags: life update
slug: goodbye-2015-hello-2016
---
<p>
  I'm sitting on a train traveling from Illinois to California, the
    long stretch of a journey from Madison to San Francisco.
  Morgan sits next to me.
  We are staring out the windows of the observation deck of this train
    as we watch the snow covered mountains pass by.
  I am feeling more relaxed and at peace than I have in years.
</p>

<p>
  2016 is opening in a big way for me.
  As you may have heard (I mentioned it in the last
    <a href="http://mediagoblin.org/news/stripe-retreat-state-of-the-goblin.html">State of the Goblin post</a>)
    MediaGoblin was accepted into the Stripe Open Source Retreat program.
  Basically, Stripe gives us no-strings-attached funding for me to advance
    our work on MediaGoblin, but they wanted me to work from their office
    during that time.
  Seems like quite a deal to me!
  Unfortunately it does mean leaving Morgan behind in Madison for that time
    period.
  But that's why we splurged on a fancy train car and why she's joining me
    in San Francisco for the first week, so we can spend some quality
    time together.
  (Plus, Morgan has a conference that first week in San Francisco
    anyway; double plus, Amtrak has an extremely generous baggage
    policy so I'm able to get all of the belongings I need for that
    period shipped along with me fairly easily.)
  Morgan and I have been talking about but not really taking a
    vacation for a while, so we decided the moving-scenery approach
    would be a nice way to do things.
  It's great... we're mostly reading and drinking tea and staring out
    the window at the beautiful passings-by.
  I could hardly imagine a nicer send-off.
  (So yeah, if you're considering taking such a journey with your
    loved ones, I recommend it.)
</p>  
  
<p>
  The passage of scenery leads to reflection on the passage of time.
  Now seems a good time to write a bit about 2015 and what it meant.
  It was a very eventful year for me.
  I have come recently to explain to people that "I live a magical and
    high-stress life"; 2015 evoked that well.
  From a personal standpoint, Morgan and I's relationship runs strong,
    maybe stronger than ever, and I am thankful for that.
  From the broader family standpoint, the graph advances steady at
    times with strong peaks and valleys, perhaps more pronounced than
    usual.
  Love, gain, success, loss... it feels that everything has happened this
    year.
  Our lives have also been rearranged dramatically in an attempt to help a
    family member in a time of need, and that has its own set of peaks and
    valleys, as is to be expected.
  But that is the stuff of life, and you do what you can when you can,
    and you try your best, and you hope that others will try their best,
    what happens from there happens, and you use it to plan the next
    round of doing the best you can.
</p>
  
<p>
  That's all very vague I suppose, but many things feel too private to
    discuss so publicly.
  Nonetheless, I wanted to record the texture of the year.
</p>
  
<p>
  So what in the way of, you know, that thing we call a "career"?
  Well, it has continued to be magical, in the way that I have had a lot
    of freedom to explore things and address issues I really care about.
  <a href="/blog/oreilly-award/">Receiving an award</a> (particularly
    since I did not know I had even been a candidate ahead of being
    notified that I received it) has also been gratifying and
    reassuring in some ways; I regularly fear that I am not doing well
    enough at advancing the issues I care about, but clearly some
    people do, and that's nice.
  It has also continued to be high stress, in that the things I worry about
    feel very high stakes on a global level, and that the difficulty of
    accomplishing them also feels very strong, and of course many are not
    <i>there</i> yet.
  Nonetheless, there has been a lot of progress this year, though it
    has come with a worrying increase of scope in the number of things
    I am attempting to accomplish.
</p>
  
<p>
  We're much nearer to 1.0 on MediaGoblin, which is a huge relief.
  Of course, this is mostly due to Jessica Tallon's hard work on
    getting federation in MediaGoblin working, and other MediaGoblin
    community memebers doing many other interesting things.
  Embarassingly, I have done a lot <i>less</i> on MediaGoblin than in
    the last few years.
  In a sense, this is okay, because the money from the campaign has
    been going to pay Jessica Tallon, and not myself.
  I still feel bad about it though.
  The good news is that the focus time from the Stripe retreat should
    allow me the space and focus to hopefully get 1.0 actually out the
    door.
  So that leads to strong optimism.
</p>

<p>
  The reduced time spent coding on MediaGoblin proper has been deceptive,
    since most of the projects I've worked on have spun out of work I
    believe is essential for MediaGoblin's long-term success.
  I took a sabbatical from MediaGoblin proper mid-year to focus on two
    goals: advancing federation standards (and my own understanding of
    them), and advancing the state of free software deployment.
  (I'm aware of a whiff of yak fumes here, though for each I can't see
    how MediaGoblin can succeed in their present state.)
  I believe I have made a lot of progress in both areas.
  As for federation, I've worked hard in participating in the
    <a href="http://www.w3.org/Social/WG">W3C Social Working Group</a>,
    I have done some test implementations, and recently I became
    co-editor on
    <a href="http://w3c-social.github.io/activitypump/">ActivityPump</a>.
  On deployment, much work has been done on the
    <a href="http://mediagoblin.org/news/userops.html">UserOps</a>
    side, both in speaking and in actual work.
  After initially starting to try to use Salt/Ansible as a base and
    hitting limitations, then trying to build my own Salt/Ansible'esque
    system in Hy and then Guile and hitting limitations there too,
    I eventually came to look into (after much prodding)
    <a href="http://gnu.org/software/guix/">Guix</a>.
  At the moment, I think it's the only foundation solid enough on which
    to build the tooling to get us out of this mess.
  I've made some contributions, albeit mostly minor, have begun promoting
    the project more heavily, and am trying to work towards getting
    more deployment tooling done for it (so little time though!).
  I'm also now dual booting between GuixSD and Debian, and that's nice.
</p>

<p>
  (Speaking of, towards the end of the year I switched to a
    <a href="http://minifree.org/">Minifree</a> x200 on which I'm
    dual booting Debian and Guix.
  I believe this puts me much deeper into the "free software vegan"
    territory.)
</p>

<!--  fundamentals, brushing up on  -->
<p>
  I also believe that over the last year I have changed
    <i>dramatically</i> as a programmer.
  For nearly ten years I identified as a "python web developer",
    but I believe that identity no longer feels like an ideal
    description.
  One thing I have always been self conscious of is how little
    I've known about deeper computer science fundamentals.
  This has changed a lot, and I believe much of it has been
    spending so much time in the Guile and Scheme communities,
    and reading the copious interesting literature that is available
    there.
  My brother Steve and I also now often meet together and watch
    various programming lectures and discuss them, which has been both
    illuminating and also a great way to understand a side of my
    brother I never knew.
  It's a nice mix; I'm a very get-things-done person, he's a very
    theoretical person, and we're meeting partway in the middle
    and I think both of us are stretching our brains in ways
    we hadn't before.
  I <i>feel</i> like a different programmer than I was.
  A year and a half ago, I remember being on a bike ride with
    Steve and I remember complaining to him that I didn't
    understand why functional programmers are so obsessed
    with immutability... mutation is so <i>useful</i>,
    I exclaimed!
  Steve paused and said very carefully,
    "Well... mutation brings a lot of problems..."
    but I just didn't understand what he was getting at.
  Now I look back on that bike ride and wonder at the former-me
    taking that position.
</p>

<p>
  (All that said though, I'm glad that I've had the background I have
    of being a "python web developer" first, for a matter of
    perspective...)
</p>

<p>
  I do feel that much has changed in my life in this last year.
  There were hard things, but overall, life has been good to me,
    and I still am doing what I believe in and care about.
  Not everyone has that opportunity.
  And this train ride already points the way to a year that
    should be productive, and will certainly be eventful.
</p>

<p>
  Anyway, that's enough navel-gazing-reflection, I suppose.
  One more navel-gaze: here's to the changed person on the other end
    of 2016.
  I hope I can do them justice.
  And I hope you can do yourself justice in 2016 too.
</p>
