title: I also work for the Internet now.
date: 2012-11-12 10:30
author: Christine Lemmer-Webber
slug: i-also-work-for-the-internet-now
---
<p class="centered">
  <a href="http://mediagoblin.org/pages/campaign.html">
    <img src="http://mediagoblin.org/blog_images/campaign_over.png" alt="MediaGoblin campaign wrapup image" />
  </a>
</p>

<p>You may have read it on the MediaGoblin blog already, but the <a href="http://mediagoblin.org/news/we-did-it.html">MediaGoblin
crowdfunding campaign was a huge success</a>!</p>

<p>I have more I want to say on this subject, but for now I just
wanted to echo
<a href="http://joeyh.name/blog/entry/I_work_for_The_Internet_now/">Joey
Hess's blogpost of similar name</a>.  And it's a solid fact now: from
now till the end of 2013 I've basically been hired by people who
believe in all of the ideas we were selling in
the <a href="http://mediagoblin.org/pages/campaign.html">MediaGoblin
campaign</a>: that the internet needs decentralized and federated
media publishing, that MediaGoblin is the platform to do it, and that
we're a really fun project that can make this all happen.</p>

<p>The campaign has been an interesting experience, and I certainly
intend to write more about it.  I've never done everything else that
used <i>all</i> of my skills so thoroughly... but I guess what I mean
by that is coming up in another post very shortly.  For now, I'm just
basking in the awesome that we sold the world on a dream and I've
essentially been hired by that same world to build it.  How often do
people get to spec out their dreams and live them?</p>

<p>Now I'd better get back to working on things!  Got quite a lot to
get done so we can bring this dream we're promising to life!  Not to
mention shipping out... and making!... all those rewards we
promised. :)</p>
