title: Iced tea and related cold beverages, at home and cheap
date: 2017-05-01 18:24
author: Christine Lemmer-Webber
tags: food, drink
slug: iced-tea
---
<p>
  In spring through fall, we always have a couple of pitchers (one
  decaf and one caffeinated) of "iced tea" in the fridge (though it's
  not necessarily the tea plant, if you care about that
  term... personally I think people are a bit snobby about having only
  one plant be The Acceptable Drink Herb).
  It's easy enough... just get a pitcher, add some tea bags to it (or
  loose tea in some sort of reusable loose-tea-holder or something,
  but honestly I'm too lazy for that) and some sweetener if that's
  your bag (we've been using stevia + erythritol sweetener stuff, sold
  as Truvia or whatever) and fill it with water, stirring once.
</p>
<p>Now put it in the fridge.</p>
<p>
  You're done!
  You now have a delicious cold beverage that you can drink whenever
  and which costs about as little as a flavored beverage can.
</p>
<p>"Tea" I like to drink:</p>
<ul>
  <li>
    Celestial Seasonings makes a lot of "fruity" herbal tea things that
    are pretty good in combination with black tea. I put in half black
    tea bags and half peach/raspberry/mint/whatever.
  </li>
  <li>
    Chai, caffeinated or decaf.
    If you make this with Stevia or whatever, then pour it into a glass
    with a tablespoon of creamer, that's 1/5 or less the calories of the
    "iced chai" sold at a common coffee shop.
  </li>
  <li>
    Some combination of: cucumber slices, lime wedges, lemon wedges,
    mint leaves.
  </li>
</ul>
<p>
  Takes up some space in the fridge, but IMO it's worth it.
  And hey, better than filling it up with soda probably...
</p>
