title: Life Update March 2009: Full Speed Ahead
date: 2009-03-08 15:26
author: Christine Lemmer-Webber
tags: personal, life update
slug: life_update_march_2009
---
<p>
  So it's been a while since I updated this thing.  Lots of stuff has
  been happening, so I might as well jump right into explaining what
  those things are.
</p>

<h1>Current and upcoming projects</h1>

<h2>Work</h2>

<p>
  Working at the <a href="http://pculture.org">Participatory Culture
  Foundation</a> continues to be great.  Probably if you're reading
  this on <a href="http://planet.getmiro.com">Planet Miro</a> or
  whatever you're already aware of this, but it's a recap from my
  perspective anyway.
</p>

<h3>Miro 2.0!</h3>

<p>
  <a href="http://getmiro.com">Miro 2.0</a> made it out the door, and
  the responses have been mostly positive.  The general consensus is
  that it's everything people loved about Miro,
  but <a href="http://www.download.com/8301-2007_4-10160895-12.html">more
  stable and with a better interface</a>.  Which is great, because
  that's mostly what this release was about, and really matches my
  feelings and impressions from development as well.  When I first
  started volunteering on Miro was when the user interface overhaul
  first started.  While the overhaul of the interface is apparent from
  an aesthetic perspective, it should be emphasized how much of the
  codebase was really gutted and reworked.  I'm really glad to have
  been part of this transition period because I think it's given me a
  lot of perspective and was a great learning experience.
</p>

<p>
  So anyway, yeah.  That's what I did while volunteering and for the
  first few months of fulltime PCF employment.  Then my focus
  shifted...
</p>

<h3>Miroguide 3.0! </h3>

<p>
  Yep, for the next couple months of development I switched to working
  on the <a href="http://miroguide.com">Miro Guide</a>, which also
  underwent a rather large facelift for its 3.0 release.  Some things
  changed on the backend too, but not as much as with Miro 2.0.
</p>

<p>

  There was a lot to learn though... although the Miro Guide uses
  the <a href="http://djangoproject.com">Django framework</a>, it
  feels a bit closer to a <a href="http://pylonshq.com/">Pylons</a>
  application as it uses its own ORM for the database and a few other
  such things (mostly just the ORM though).  I really enjoyed working
  on it and learning about it.  Toward the
  end <a href="http://wiki.paulswartz.net/">Paul Swartz</a> came back
  to work on the application.  Was quite enjoyable collaborating on
  things, and we even managed to move things over
  to <a href="http://git.or.cz">git</a>, which is awesome.  (Miro also
  will be switching to git soon, and
  there's <a href="http://participatoryculture.org/pipermail/develop/2009-March/000542.html">a
  conversation on the mailing list</a> in case that's of interest to
  you.)
</p>

<p>
  Anyway, Miro 2.0, Miroguide 3.0 and the
  new <a href="http://getmiro.com">http://getmiro.com</a> website all
  launched in the same week, so that was a bit exhausting, but it all
  went really well.
</p>

<p>
  I'm not sure many people know, but the Miro Guide
  is <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">AGPLv3</a>.
  So yes, like Miro, the Miro Guide is
  genuine <a href="http://www.gnu.org/philosophy/free-sw.html">Free
  Software</a>.  There's been a lot of interest
  about <a href="http://autonomo.us/">free network services</a>
  lately, so I'd like to try and make that more clear because I'm
  afraid many people who would be interested simply don't realize
  that.  We'll probably do more advertisement of it soon once we get
  this git stuff all straightened out.
</p>

<p>
  And speaking of free software and websites, that brings me to my
  current work duties...
</p>

<h3>Miro Local TV</h3>

<p>
  Yep, Miro Local TV, which was
  <a href="http://www.getmiro.com/blog/2008/10/announcing-miro-local-tv/">announced</a>
  a number of months ago.  It's not in a state I'd consider
  presentable yet, but development is coming along.  Multiple
  location-specific sites work and you can view videos, but it's still
  not ready to be shown off yet.  Hopefully I'll have more to say
  about this shortly.  (Indeed, I was actually writing a longer bit
  about a specific topic related to this in here, but I've decided it
  merits its own blogpost.)
</p>

<h2>The wedding and the wedding website</h2>


<p>
  So, the wedding... coming up soon, less than three months away
  now.  What can I say... Morgan has been more on top of this
  than I have.  I hate to take up such stereotypical gender roles
  about it, but I guess that's the way it has worked out.  Still, I've
  been working on a very specific piece of the wedding:
  the <a href="http://wedding.dustycloud.org">wedding website</a>.
</p>

<p>
  So, it took quite a while, but most of it is done and up.  I'm quite
  pleased with the way it's turned out.  Still two major pieces to put
  in place... gotta get the reception-music-submission stuff
  working, and have to put up a video of the animation I originally
  proposed to Morgan with in the first place.  I've got the video
  ready.. just gotta get that stuff together.
</p>

<h2>Orgmode</h2>

<p>
  <a href="http://orgmode.org">Org-mode</a>!  Not really a project as
  much, but I recently switched over all my life and project planning
  over to using this wonderful piece of software.  I was
  using <a href="http://www.emacswiki.org/emacs/PlannerMode">PlannerMode</a>
  previously, but I was finding that as the number of things happening
  in my life grew, the less the day-planner idea was working for me.
  I initially took interest in orgmode because I wanted to be able to
  ditribute some small amounts of todo lists and project outlines with
  my personal projects.  And then using it was just been <b>so
  nice</b> that it's continued to take over my whole workflow.
  Anyway, I don't regret it.  Orgmode is a wonderful example of user
  interfaces in plain text.  I highly recommend watching
  the <a href="http://orgmode.org/GoogleTech.html">Google tech
  talk</a>... it might make an orgmode user out of you too.
</p>

<h2>The GIMP class</h2>

<p>
  Yep, I'm going to be
  <a href="http://dustycloud.org/gfx/goodies/casaaztlan_poster2.pdf">
  teaching a class</a> on the <a href="http://gimp.org">GIMP</a> to
  students at <a href="http://casaaztlan.org/">Casa Aztlán</a>.  Or,
  at least, that's my expectation.  We're still in the recruitment
  stage.  It'll be a one night a week thing for six weeks, if enough
  students sign up for it to happen.
</p>

<h2>An unnamed animation</h2>

<p>
  I am going to be working on an animation in collaboration with
  friend (and former boss)
  <a href="http://profile.myspace.com/index.cfm?fuseaction=user.viewProfile&amp;friendID=309181883">
  Robert Metrick</a>, who makes some awesomely
  <a href="http://vids.myspace.com/index.cfm?fuseaction=vids.individual&amp;VideoID=35710951">
  weird stuff</a>.  We're meeting on Monday (tomorrow) to start some
  brainstorming and plan it out.  Not sure exactly what it's going to
  be yet, but I'm hoping it will be about a 4-6 month long project.
  Yes, as you are probably expecting, I am expecting to do the
  animation in <a href="http://blender.org">Blender</a>.
</p>

<h2>PyCon</h2>

<p>
  Not much to say about <a href="http://pycon.org">PyCon</a> except
  that I will indeed be there, and helping with the video recording.
  Maybe I'll see you there as well?  We might do a Miro sprint
  there... not sure if anyone would be interested?
</p>

<h2>FOSSGaming.org</h2>

<p>
  I registered the domain name fossgaming.org after a long
  conversation on <a href="http://identi.ca">Identi.ca</a> (that also
  lead to the creation of
  the <a href="http://identi.ca/group/fossgaming">!fossgaming</a>
  group).  Basically, free and open source software is coming along
  really well in almost all areas, but not as much in the game
  development department.
</p>

<p>
  I'm not sure what's going to happen with this totally.  I <b>am</b>
  planning to put up
  <a href="http://planet.fossgaming.org">planet.fossgaming.org</a>
  in the next couple of weeks
  with <a href="http://www.feedjack.org/">Feedjack</a> (and you are
  right, the dns has not even been set up for that yet) in an effort
  to get more free software game developers talking to each other.
  Aside from that, I'm hoping to help with steering this, but I won't
  be able to invest that much time into it myself for at least the
  next couple of months.  I'm hoping to help foster a community that
  can make some headway on its own, and then in a couple months I'll
  be able to jump in more myself.  Maybe things don't work that way
  though, so its possible that this won't really make it that far
  until after the wedding.  We'll see.
</p>

<p>
  If you have thoughts on it, or are interested in helping this
  project along, <a href="http://dustycloud.org/contact/">contact
  me</a>; I'm happy to offload some of this work.
</p>

<h2>Pumping Station One</h2>

<p>
  <a href="http://pumpingstationone.org">Pumping Station One</a> is
  a <a href="http://hackerspaces.org">Hackerspace</a> (think YMCA for
  nerds) that is starting to really come together in Chicago.  Looks
  like they might be moving in in April.  I became a member and
  attended the last meeting.  I probably won't be too heavily involved
  here for a bit, but I'm excited to see this start to take off.  I
  might even do some co-working from here.
</p>

<h2>The diet</h2>

<p>
  I've mentioned that I started focusing on my health again.  Well,
  2.5 months into this diet, I've lost more than 30 pounds, so things
  are going really well.  I'm mostly following
  the <a href="http://www.fourmilab.ch/hackdiet/">Hacker's Diet</a>
  (dieting through engineering, management and statistics).  I'm
  counting calories and biking.  The effects are noticable, and I'm
  feeling better with each passing day.  I'm actually using orgmode to
  track my diet, which is working out extremely well... maybe
  I'll make a post with more details on this later.
</p>

<h1>Summary and life bits</h1>

<h2>Are we moving?</h2>

<p>
  So, moving... one of the reasons I took my current job was the
  possibility that we might be moving depending on what happens with
  Morgan and grad school.  At this point, we still don't know, though
  it is looking increasingly likely that we'll be around Chicago for
  at least another year.  Otherwise, we might move to either
  Philadelphia or Boston.  I'll update when I know more.
</p>

<h2>Busier than ever, but better than ever (and no more projects)</h2>

<p>
  Clearly, things are busy, but I'm keeping it together and I think
  I'm happier than I've ever been.  But I've hit the limits of what I
  can do here.  Everything I have now is fairly manageable, but if I
  tacked on anything more it probably wouldn't be, so... I won't.
</p>

<p>
  Sorry this post was so long.  But now you know.
</p>
