title: March 4, 2008: Minor updates
date: 2008-03-04 23:05
author: Christine Lemmer-Webber
slug: march-4-2008-minor-updates
---
<p>Not much that I'm going to say at the moment other than I've been keeping busy.  I've helped my sister move, I've been working on an interesting art project, I've been trying to get my OpenMoko phone to work nicely, and I'm learning how nodes work in Blender (which is, surprisingly, a lot of fun).</p>
<p>Hopefully tomorrow I'll have a bit more time to get into details.  In the meanwhile, go look at <a href="http://peach.blender.org">Project Peach</a> if you haven't already, as there's a lot of interesting stuff to read on there.</p>
<p>I go to bed now, hoping that Obama will pull through in Texas as he has with Ohio.</p>
