title: Me, elsewhere on the internet
date: 2011-05-05 14:44
tags: gpl, creative-commons, python, cc0, licensing, libre-graphics-meeting, foss, pycon, blender
author: Christine Lemmer-Webber
slug: me-elsewhere-on-the-internet
---
<p>I have a huge backlog of blog entries I've been meaning to write about interesting things I've done recently, but haven't written because I often feel like I should be doing interesting things instead of just writing about them.  Luckily most of the things I've done online recently have some sort of interesting web presence, so I'm just going to link to a bunch of them and call it a day:</p>

<p>First, conference stuff:
<ul>
  <li>I attended PyCon, and even <a href="http://python.mirocommunity.org/video/4263/pycon-2011-using-blenders-new-">gave my talk on Blender &amp; the new Python API</a> and it was extremely well received.  There were some really great competing talks going on at the same time, but <a href="https://convore.com/pycon-2011/blender-best-talk-so-far/">people who saw it really seemed to like it</a>.  PyCon was great, and the people were even better.  Particularly I really enjoyed hanging out with good friends <a href="http://asheesh.org/">Asheesh</a>, <a href="http://nosve.com/">Karen</a>, <a href="http://freefac.org/">Bassam</a> (who was on the video team recording my talk... hilarious that the director of Elephants Dream &amp; Tube was recording bits of me talking about some of his projects), <a href="http://bluesock.org/">Will</a>, <a href="http://carlfk.blip.tv/">Carl</a>, my friends from my old work at <a href="http://imagescape.com">Imaginary Landscape</a>, and many I'm surely missing and I'll feel terrible about later.</li>
  <li>I'm going to attend <a href="http://libregraphicsmeeting.org/2011/">Libre Graphics Meeting 2011</a> and once again I am <a href="http://create.freedesktop.org/wiki/Using_Blender_for_Patent_Absurdity_/_advocacy_animations">talking about Blender</a>, this time in relation to <a href="http://patentabsurdity.com">Patent Absurdity</a> and using Blender for activism animations in general.  I'll also be on an <a href="http://autonomo.us">autonomo.us</a> panel, representing <a href="http://creativecommons.org">CC</a> and... something else I'll talk about in my next blogpost. :)</li>
</ul></p>

<p>Next, even though I've been mostly silent here, I haven't been at work (well, I <i>should</i> be doing more work blogging, but anyway).  On the <a href="http://creativecommons.org/weblog">main Creative Commons blog</a> I've written the following:<br />
<ul>
  <li><a href="http://creativecommons.org/weblog/entry/21906">Massively Multiplayer Game Ryzom Released as Free Culture and Free Software</a></li>
  <li><a href="http://creativecommons.org/weblog/entry/24149">An interview with Ton Roosendaal of the Blender Institute on Sintel's release</a> -- I really loved doing this interview, as I have a massive amount of respect for the Blender Institute and what they're doing.  I snuck a question in there about the <a href="http://www.sintel.org/news/community-modeling-sprint/">modeling sprint</a> which, if you read that post, you might notice that I actually had written to them and suggested the format of said sprint (I'm attributed as "cwebb" in that post).  Apparently the <a href="http://www.sintel.org/news/modeling-sprint-a-stellar-success/">modeling sprint went rather well</a> (the animation sprint less so though... you should read the interview!).</li>
  <li>If that wasn't enough, I did a <a href="http://creativecommons.org/weblog/entry/26621">second interview with Ton Roosendaal about the Sintel 4k release</a>.</li>
  <li>I also made available and wrote about <a href="http://creativecommons.org/weblog/entry/27094">plaintext versions of the CC licenses and CC0</a>, which is something many free and open source software developers wishing to package CC-licensed content with their works have wanted for a long time.</li>
</ul></p>

<p>That last one (the plaintext legalcode) was actually a side effect of something even more exciting: <a href="http://creativecommons.org/weblog/entry/27081">Using CC0 for public domain software, and CC0 compatibility with the GPL</a>.  I didn't write this blogpost (Mike Linksvayer did) but I was heavily involved in this process.  For about half a year we had on and off conversations with the <a href="http://fsf.org">FSF</a> (particularly Brett Smith) about GPL compatibility.  At this point there had been nothing clearly marked about CC0's acceptability for software or whether its fallback license was GPL compatible, and for a tool that's all about internationalizing the public domain this seemed completely crazy (well to me, anyway).  I made the assertion that getting CC0 on the FSF's free software licenses list and being noted for GPL compatibility would be the gold standard, and I am very happy that <a href="http://www.gnu.org/licenses/license-list.html#CC0">this is exactly what we achieved</a>.  Honestly, keeping the website running, maintaining our tools, etc is pretty great, but I think this may be one of the most important achievements I've made while working at Creative Commons.  (As a side note, I think this means maybe that CC0 is now the only legal option for something that is simultaneously both free culture and free software (like some game assets) without dual licensing?)</p>

<p>I've also written up some more technical posts on <a href="http://labs.creativecommons.org/">CC Labs</a>:<br />
  <ul>
    <li><a href="http://labs.creativecommons.org/2009/12/18/understanding-the-state-of-sanity-via-whiteboards-and-ascii-art/">Understanding the State of Sanity (via whiteboards and ascii art)</a></li>
    <li><a href="http://labs.creativecommons.org/2010/01/13/cc-engine-and-web-non-frameworks/">cc.engine and web non-frameworks</a></li>
    <li><a href="http://labs.creativecommons.org/2010/03/16/using-virtualenv-and-zc-buildout-together/">Using virtualenv and zc.buildout together</a></li>
    <li><a href="http://labs.creativecommons.org/2010/11/10/bridging-public-bugtrackers-and-local-tasklists/">Orgmode and Roundup: Bridging public bugtrackers and local tasklists</a></li>
    <li><a href="http://labs.creativecommons.org/2010/12/08/libreoffice-and-cc-openoffice-plugin/">LibreOffice and CC OpenOffice Plugin: Good to go</a></li>
    <li><a href="http://labs.creativecommons.org/2011/01/28/more-helpful-404-pages/">More helpful 404 pages</a></li>
    <li><a href="http://labs.creativecommons.org/2011/02/14/your-own-python-egg-baskets-package-repositories/">Your own python egg baskets / package repositories</a></li>
    <li><a href="http://labs.creativecommons.org/2011/03/25/good-advice-for-gsoc-students/">A post with good advice for GSOC students</a> (Sadly, due to a lack of bandwidth, we only were able to accept one GSoC student this year, and that student switched projects, so we simply aren't doing GSoC this year.  Oh well.)</li>
  </ul>
</p>

<p>I've also been doing quite a bit of work on <a href="http://tube.freefac.org">Tube</a> doing python scripting and the like.  I'd like to write more on this soon.  Maybe I'll guestblog over there eventually.</p>

<p>Oh, and of course, even though I'm usually silent here, I am in no way silent on my <a href="http://identi.ca/cwebber/">identi.ca microblog</a>.</p>

<p>That's all for now, or rather, all I'm going to bother to post.  There's actually something much more exciting I'd like to mention, but I'll do that in the next post.</p>

<p><b>Update:</b> There's another reason I haven't posted much.  A while ago I <a href="http://dustycloud.org/blog/2010/5/31/switched-blog-to-zine">switched my blog over to Zine</a> and thought it was a great move because at least I wouldn't be maintaining my own blog software anymore.  But Zine is now also unmaintained, and I haven't set up any sort of spam filtering system, which means at any time I have about 1000 unfiltered mostly spam comments to go through, and every time I think about blogging I get exhausted thinking about filtering through those comments.  I had a crappy accessibility-breaking captcha on my old blog, but at least it worked.  Until I figure out a better solution, and frankly I'm too busy to probably do that immediately, I've taken a tip from <a href="http://ebb.org/bkuhn/blog/">Bradley Kuhn's blog</a> and am just going to use <a href="http://status.net">StatusNet's</a> great comment threading as my comment thread. :)  If you want to comment, you'll have to use something OStatus enabled.  For now.</p>

<p><b><a href="http://identi.ca/notice/72730332">Comment on this post on identi.ca!</a></b></p>
