title: On the MediaGoblin fundraising campaign part 1: FSF vs Kickstarter
date: 2012-10-16 13:30
author: Christine Lemmer-Webber
slug: mediagoblin-campaign
---
<p>
  As those who have read my
  <a href="/blog/life_update_october_2012">previous</a> <a href="/blog/leaving-cc-to-work-on-mediagoblin">entries</a>
  know, I quit my job of three years as senior software engineer at
  <a href="http://creativecommons.org">Creative Commons</a>
  to pursue the free software project I've been running,
  <a href="http://mediagoblin.org/">MediaGoblin</a>.  I'd explain a
  bit further what MediaGoblin is but actually there's no reason to:
  we're in the middle of running
  a <a href="http://mediagoblin.org/pages/campaign.html">fundraising
  campaign</a>, and we put a video together that explains everything
  wonderfully already.  So what you really ought to do is click
  through to:
</p>

<p class="centered">
  <a href="http://mediagoblin.org/pages/campaign.html">
    <img src="/etc/images/blog/support_mediagoblin-blagpost.png" alt="Suport MediaGoblin image" />
  </a>
</p>

<p>
  Go ahead visit the above link!  Check out the campaign!  Watch the
  video!  Donate!  Excitedly link the campaign to your friends!  Then
  come back here.  I'll still be around.
</p>

<p>
  Okay, back?  Awesome.  So the campaign has gone live and is going
  well.  It's been a major portion of my life the last couple of
  months.  For the one and a half months leading up to the campaign,
  it <i>was</i> my life.  And it still is.  I stressed out about it
  all the way leading up to the campaign launch and I am, in fact,
  still stressing out about it now.  But it's a good kind of stress.
  We're getting a lot of positive reactions from people, and I feel
  great about that.  I really do believe that MediaGoblin is the most
  important thing I've ever worked on in my life, and so having this
  be a success is important to me.  And having it be important to
  other people... well that's important to me, too.
</p>

<p>
  There's a couple of things that people have been asking me about
  related to the campaign.  People seem fairly curious about the
  process of making the video and ramping up the campaign, and
  especially I keep getting asked, "Why did you go through the Free
  Software Foundation?  Why not Kickstarter?"  Those are both really
  good questions, so I'll take a shot at answering them.
</p>

<h2>Why the Free Software Foundation?  Why not Kickstarter?</h2>

<p><b>Kinda long, so here's a tl;dr:</b>
  <ul>
    <li>We don't dislike Kickstarter</li>
    <li>FSF offered for us to do the donation campaign through them;
  didn't have all the features we wanted, but were willing to
  implement them</li>
  <li>We decided to go with them because they threw their weight
  behind our campaign, because of their integrity, and because of our
  aligned ideals.</li>
  </ul>
</p>

<p>
  Let's go with this one first, because people seem so curious about
  it.  What I'll first say was that this wasn't a decision we rushed
  into.  A couple of months ago, I was in Boston and meeting with
  MediaGoblin co-conspirators
  <a href="http://bluesock.org/~willg/">Will Kahn-Greene</a> and
  <a href="http://www.eximiousproductions.com/">Deb Nicholson</a>
  about this.  We were hanging out at and around the FSF offices.  At
  that point, we knew we were launching a campaign, but didn't know
  the details.  And this was a major point of discussion: do we go
  with Kickstarter, or we go with the Free Software Foundation?  We
  did know was that John Sullivan had expressed interest in us doing
  things through the Free Software Foundation, and so that was an
  option.
</p>

<p>
  We chose the Free Software Foundation over Kickstarter for various
  reasons.  The reason we didn't go with Kickstarter <i>isn't</i> that
  we dislike Kickstarter, or thought that it would be particularly bad
  for us.  I actually think that Kickstarter is doing a good job in
  paving a way forward for projects to be funded in ways that frees
  them to focus on what they need to; if I have a major complaint,
  it's that I wish people would mostly hold projects to the standard
  that if they're donating to them, they shouldn't be locking down
  their stuff.  If the public is funding you, doesn't it make sense
  that you are in a sense beholden to the public?  I wish people would
  hold things they donate to to a standard where they encourage
  projects to adopt free licenses.  But anyway, that's more of a wish
  that I wish we'd see <i>more</i> free software and free culture
  benefitting from Kickstarter like systems than something against
  Kickstarter.  And Kickstarter was fairly tempting for various
  reasons: they've done a good job of proving themselves.  We know
  their stuff works, it's fairly expected how stuff would run, and
  it's something people recognize and feel comfortable giving money
  to.  My friend Aeva said, "When I see something on Kickstarter, I
  have a temptation to just throw money at it."  So not choosing
  Kickstarter would mean leaving a lot of that behind.
</p>

<p>
  So why <i>did</i> we choose the Free Software Foundation?
  There was reason to be cautious about it: we knew what to expect if
  we went with Kickstarter.  While I have a lot of trust in the Free
  Software Foundation, we couldn't be sure how things would work out
  running a campaign like this because they simply hadn't done such a
  thing before.  We had done something similar with the FSF with
  <a href="http://lpc.opengameart.org">Liberated Pixel Cup</a>, but it
  wasn't on this scale.  When we met with John, we listed a series of
  things that we'd still need: we needed the ability for the system to
  offer rewards (such as the 3d model, t-shirt, etc options we have
  now), we needed the ability to theme the campaign page, we needed to
  be able to email people who donated with updates as the campaign
  progressed, we needed the form to work this way and that, we needed
  a progress bar that updated automatically each time someone donated,
  and so on.  The FSF didn't have a way set up to do these things yet,
  and we wanted to go live with the campaign in a month and a half.
  Would the FSF be able to do it on time?  Would the FSF want to do
  it?  John said that he thought so, and yes.  This was a direction
  that they were interested in going in, both for themselves and
  likely for future projects, so it was a good opportunity for them to
  push their systems in that direction.
</p>

<p>
  At that point, we decided to go with the FSF.  First of all, the
  fact that this was a new thing but that the FSF was interested in
  pushing in this direction means there'd be a certain kind of
  guinea-pig uncertainty, but it also meant something else: the FSF
  had a lot of faith in MediaGoblin and were willing to throw their
  weight behind it.  That meant a lot, and also meant something
  strategically: there's a lot of projects swimming around on
  Kickstarter and etc right now, and it would be easy to get lost in
  that pool.  The fact that the FSF was willing to back us meant that
  we'd stand out in a certain way, at least to a certain audience.
  And we could benefit from their connections and experience.
</p>

<p>
  There's another aspect to it too: the FSF is a nonprofit.  I'm not
  sure whether this is resonating with donors or not, but at least to
  me, it's significant: the FSF is an organization that has a mission
  and integrity.  By going through the FSF, we are also beholden to
  that mission and integrity.  The FSF wasn't going to just toss all
  the money raised by this project over to us: we had to show that we
  were doing the work to advance the project to get it.  To me, that
  seems like a feature, at least one that's donor-facing (though I'm
  not sure whether or not people are picking up on that).  You
  can have whatever opinion you want about the FSF, but one thing is
  indisputable, maybe even above any other org I know of: they stick
  with their principles.  And I hope that message that the FSF was
  backing us passed on to people.  And to some people, it seemed to.
  (I guess also, if you go through a nonprofit, donations are
  tax-deductable.  Some people seem to appreciate that.)  The FSF is
  also taking an "administrative cut", just as Kickstarter would, of
  the money raised.  I think it's also significant that the
  organization that gets that cut be one who's working to advance
  things that I believe in.
</p>

<p>
  There were some other benefits too: we had a lot more control over
  our site design by doing things on our own (and MediaGoblin's
  usual graphic designer, Jef van Schendel, was commissioned to do the
  design of the campaign site, and did an awesome job).  But... I
  think the being endorsed by an organization with that kind of trust
  and integrity was the most important thing.  And I'll also admit
  that there is an element of personal interest here: is it possible
  for a nonprofit to reproduce the same kind of experience that
  Kickstarter has?  Because that's significant to me.  And one thing
  that <i>would</i> come out of this is that the FSF would be using
  free software to run the campaign also.  The thing is mostly run by
  CiviCRM, so unlike Kickstarter, advancements gained in running it
  could benefit the software and other people running such software.
  And if we could prove that this works, that would be good.
</p>

<p>
  That said, even after we made that decision, even though I have a
  strong amount of trust in the FSF, the proof of the pudding is in
  the eating, and I couldn't be anything but nervous about things
  until the campaign actually went live.  I'm happy to say that things
  did work out and we had a successful launch.  People seem very
  responsive to our campaign, and the FSF's stuff is working great.
  And the FSF really <i>has</i> thrown themselves behind the campaign.
  I've been working with both people from the FSF systems team and
  especially John Sullivan and Zak Rogoff, one of the new campaigns
  team members (who's really been a pleasure to work with so far).
  They really have been trying hard to make this a success, and I'm
  really pleased with it.
</p>

<p>
  We've had a good start, but we've still got a long way to go.  But
  one thing's for sure, the campaign is only going to be a success if
  people like
  you <a href="http://mediagoblin.org/pages/campaign.html">pitch in
  and spread the word about the campaign</a>.  So please help... and
  spread the word!
</p>

<p>
  And I guess that blogpost was long enough, so the "making of the
  campaign" will have to be a part two!
</p>
