title: MediaGoblin's campaign for federation and privacy
date: 2014-03-12 14:30
author: Christine Lemmer-Webber
tags: campaign, mediagoblin
slug: mediagoblin-campaign-2014
---
<p>
  <div style="text-align: center">
    <div style="float: none; display: inline-block;">
<iframe src="http://mediagoblin.org/pages/video_iframe.html" width="768" height="432" style="border: none;" allowfullscreen="true"></iframe>
<br />
<b><a href="http://mediagoblin.org/pages/campaign.html">Support MediaGoblin!  Help us take back the net!</a></b>
    </div>
  </div>
</p>


<p>
  The <a href="http://mediagoblin.org/pages/campaign.html">MediaGoblin campaign</a> is
  live!  Well okay... it's been live for a
  <a href="http://mediagoblin.org/news/mediagoblin-campaign-2014.html">couple of weeks now</a>.
  I think the video above explains everything
  we're trying to do pretty well, so maybe you should watch that
  first.  (Better yet, watch it on the
  <a href="http://mediagoblin.org/pages/campaign">campaign page</a>,
  and hopefully donate while you're at it!)
</p>

<p>
  So our website and campaign page and video and etc try to explain why
  we think you should donate to the campaign.  But I thought I'd write
  here, also... there's something different, I think, about a personal
  blog post... some things are more easily said.  So let me ramble on a
  bit.
</p>

<p>
  I guess the easiest thing to open with is the most obvious... it's
  been an interesting year as in terms of making it clear *why*
  MediaGoblin matters.  The danger of Snowden revelations have made it
  obvious that a highly centralized internet is a problem.
</p>

<p>
But awareness alone won't fix the problem, we need to really build
solutions.  I think just how true this is became obvious to me earlier
in the year, when I spoke to another prominent internet activist (I
won't name names) who said to me more or less: "The centralized
internet is a problem, but we don't actually think we can get people
to change their habits, that's too hard.  So instead we're focused on
talking about the problem and writing up what rights users should
have."
</p>

<p>
  I've thought about this line of reasoning a lot.  I agree that getting
  people to change their habits is really hard.  And raising awareness
  and talking about rights are super important.  And pushing for
  governmental reforms are important.  But let's face it, the NSA
  snooping was already breaking laws and violating our rights, and there
  isn't any evidence that those programs are ending any time soon,
  especially when it's so easy to keep them going in the present
  technological environment.  We need to build something better.  We
  need to actually build tools and make them usable and even enjoyable
  so that people <i>can</i> switch away.
</p>

<p>
  To put it another way: when even the most prominent internet
  activist campaigns are using Facebook, YouTube, and Twitter to
  complain about the centralization effects those very services help
  to perpetuate, it shows you how much we need ways to communicate
  that aren't part of the problem.  And that's exactly what we're
  working on with MediaGoblin.
</p>

<p>
It's true that these are hard things to do.  They take resources, they
take time.  But we have to do them.  And we <i>can</i> do them.
</p>

<p class="centered">
  <a href="http://mediagoblin.org/pages/campaign">
    <img src="http://mediagoblin.org/images/campaign/milestone_characters/unlock_characters.png" alt="unlock characters" /></a>
</p>

<p>
  We have an opportunity here with MediaGoblin.  If we can hit 1.0 and
  get federation support into MediaGoblin (which is mostly the first
  goal of the fundraising campaign), that alone would be huge.
  But we'd like to do more than that... we'd like to invest resources
  into making adding federation support easier to python web
  applications generally, add privacy features, and a bunch more.  We've
  laid out what those goals are specifically in the "Unlock More
  Features!" section of the
  <a href="http://mediagoblin.org/pages/campaign.html">campaign page</a>.
</p>

<p>
MediaGoblin is more than that, too.  MediaGoblin is also a vision for
what we think the future of free software could be.  We work on
network freedom issues because in a networked age, without network
freedom, there is no user freedom.  We work on making the software
beautiful because we believe beautiful free software web applications
are the only way that free software can be adopted by the world.  We
support
<a href="http://mediagoblin.org/news/opw-gsoc-2013.html">diversity initiatives</a>
because we think diversity is important
on its own, and because we believe that a diverse project is a better
project.  We work on messaging and making messaging that tries to be
as accessible to everyone as it can, both because free software is
something that everyone should enjoy, and without clear explainations
of why these things matter, free software will remain a privilege for
a technical elite.  We believe user freedom belongs to everyone.
</p>

<p>
If that resonates with you, I encourage you to
<a href="http://mediagoblin.org/pages/campaign.html">support our campaign</a>.
And consider
<a href="http://mediagoblin.org/news/help-spread-the-campaign.html">spreading the word</a>.
Anything you do really does make a huge difference.</p>

<p>Thanks, internet.  We do it for you.</p>
