title: Moved to teh Deklabbs (DeKalb)
date: 2010-09-11 16:43
tags: personal
author: Christine Lemmer-Webber
slug: moved-to-dekalb
---
<p>About a month ago Morgan and I left our wonderful apartment in Andersonville, Chicago, IL and moved most of our things to our new apartment in DeKalb, IL (or as my friend Miles calls it, "the Deklabbs", a nonsense name that's just silly enough to stick).  Morgan has started a graduate studies and teaching assistanceship program at Northern Illinois University, and since I telecommute, there was no real reason not to make the move.  Meanwhile my good friend <a href="http://lunpa.org/">Lunpa</a> is currently moving into our old apartment in Andersonville.  Oh Andersonville, I miss you.</p>

<p>The Dekalbbs aren't too bad of a place to live.  It's a small college town, has a nice food co-op, etc etc.  Except that I really don't know much of anyone.  I've only found one other person in the area who is interested in programming and free software, and it's unclear if I can attend the university GLUG except as a presenter.  In Chicago, my group of friends (aside from people I met at college and work) WAS the free software community.</p>

<p>Which all and all means I'll probably be back now and then to attend usergroups.  After all, teh Deklabbs is only about two hours away from Chicago, and I have several friends who have offered me couch-space if I need somewhere to crash.  Chicago, you haven't gotten rid of me quite yet.</p>

<p>Overall, DeKalb is not bad so far.  It's a small, quiet, beautiful town, not too far from Chicago... oh and the rent is cheap.  The rent is <i>so cheap</i>.</p>
