title: New site, new blog
date: 2008-02-08 08:13
author: Christine Lemmer-Webber
slug: new-site-new-blog
---
<p>If you're reading this, then you can see that <a href="http://dustycloud.org">dustycloud.org</a>
has now launched!  Joy of joys.</p>
<p>A lot of stuff doesn't work yet; obviously the art and writing
galleries don't.  But they will shortly.  There are also some
aesthetic changes which need to be done, and I need to break the
blog-specific CSS out of the main site's css.  I wanted to go with
something that was nicely textured, but not in a boring web2.0
gradients kind of way.  I think I've done a pretty good job at that.</p>
<p>Also note that I know that the captchas aren't working, so you can't
post comments yet.  My inexperience with mod_python hadn't prepared me
for the ugliness that is multiple interpreters clobbering module-level
variables.  It'll be fixed soon.  I promise.</p>
<p>Of course, there's not much else to say on a "site launch" post.  More
interesting posts are on their way; I've been working on some cool
stuff lately.</p>
