title: Gems from really old lisp mailing lists
date: 2017-03-09 10:10
author: Christine Lemmer-Webber
tags: lisp
slug: old-lisp-mailing-list-gems
---
<p>... which <a href="http://ml.cddddr.org/">are archived here</a>. I'm especially finding the <a href="http://ml.cddddr.org/info-lispm/">CADR lisp machine mailing list</a> to be interesting.</p>
<p>The <a href="http://ml.cddddr.org/lispnews/">lispnews</a> list is a bit hard to read, but unveils some key lisp ideas one after another in their earliest state; fascinating stuff. <a href="http://ml.cddddr.org/lispnews/lispnews-19780916.html">First reference to unwind-protect</a>, and the <a href="http://ml.cddddr.org/lispnews/lispnews-19790606.html">details of backquote/quasiquote are being worked out here</a>.  (EDIT: more on <a href="http://ml.cddddr.org/lisp-forum/msg00853.html">backquote's history</a>.)</p>
<p>Here's some interesting bits: <a href="http://ml.cddddr.org/info-lispm/msg00001.html">David Moon (who worked on Common Lisp, helped develop Emacs, and was one of the original developers of the the lisp machine) mentioning Common Lisp and the CADR switching to it</a>; <a href="http://ml.cddddr.org/info-lispm/msg00312.html">rms (who was a maintainer of lisp software at the time) not being so pleased about it, or the way it was announced</a>, and <a href="http://ml.cddddr.org/info-lispm/msg00311.html">Guy L. Steele (who was editing the Common Lisp standard) replying</a>. <a href="http://ml.cddddr.org/info-lispm/msg00376.html">Later RMS seems to be investigating how to make it work together</a>.</p>
<p>Sadly it seems that debate was <a href="http://ml.cddddr.org/info-lispm/msg00295.html">discouraged</a> on that list, and I don't see the BUG-LISPM list around anywhere.</p>
<p>You probably noticed that I was cherry-picking reading emails by RMS. It's no coincidence... I knew this was coming up, and here it is:</p>
<p>Here also is where <a href="http://ml.cddddr.org/info-lispm/msg00280.html">Symbolics started to move out of the AI lab</a> and where they announced that <a href="http://ml.cddddr.org/info-lispm/msg00267.html">MIT may use their software, but may not distribute it outside the lab</a>... which is, according to my understanding, one of the major factors frustrating rms and leading to the founding of GNU. A quote from that email:</p>
<blockquote>
</blockquote><p>This software is provided to MIT under the terms of the Lisp System License Agreement between Symbolics and MIT. MIT's license to use this software is non-transferable. This means that the world loads, microloads, sources, etc. provided by Symbolics may not be distributed outside of MIT without the written permission of Symbolics.</p>

<p>There it is, folks! And here's another user, Martin Connor, <a href="http://ml.cddddr.org/info-lispm/msg00266.html">raising concerns about what the Symbolics agreement will mean</a>. That person seems to be taking it well. But guess who isn't? Okay, you <a href="http://ml.cddddr.org/info-lispm/msg00262.html">already guessed RMS, and were right</a>. Presumably a lot of argument about this was happening on the BUG-LISPM list. I guess it's not important, but <a href="http://ml.cddddr.org/info-lispm/msg00248.html">here</a> is an <a href="http://ml.cddddr.org/info-lispm/msg00247.html">amusing</a> <a href="http://ml.cddddr.org/info-lispm/msg00246.html">back</a> and <a href="http://ml.cddddr.org/info-lispm/msg00242.html">forth</a>. I wonder if anyone has access to the BUG-LISPM or BUG-LISPM-MIT lists still?</p>
<p>Notably <a href="http://ml.cddddr.org/info-lispm/msg00259.html">RMS wants to clarify that his work doesn't go to Lisp Machines Incorporated specifically, either</a>, even though he was more okay with them.</p>
<p>I'm giving a talk at LibrePlanet 2017 on the Lisp Machine and GNU, which explains why I'm reading all this! Okay, well maybe I would have read it anyway.</p>
