title: In which I receive the O'Reilly Open Source Award
date: 2015-09-01 13:10
author: Christine Lemmer-Webber
tags: oscon, award, foss, free software, life, mediagoblin
slug: oreilly-award
---
<p>
Well, I'm late in putting this one out there, but it's still worth
putting on the record!  About a month ago, I was fortunate enough to
receive the O'Reilly Open Source Award.  In fact, here's a picture of
me receiving it!
</p>

<p class="centered">
  <img src="/etc/images/blog/receiving_oreilly_award.jpg" alt="receiving the award" />
  <br />
  <i>
    Photo taken by Brandin Grams,
    <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>,
    originally microblogged by
    <a href="https://twitter.com/o0karen0o/status/624660833805533184">Karen Sandler</a>
  </i>
</p>

<p>
(... there's <a href="https://www.youtube.com/watch?v=5D4kSVcELjM">a video</a>
too!)
</p>

<p>
So, getting the award was exciting and unexpected.  Exciting, because
just look at
<a href="https://en.wikipedia.org/wiki/O'Reilly_Open_Source_Award">the
  list of people who have received this award previously</a>!
</p>

<p>
Even to just share the stage with friends Marina Zhurakhinskaya of
<a href="http://outreachy.org/">Outreachy</a>, Stefano Zacchiroli of
<a href="http://debian.org/">Debian</a>, and Sarah Mei was a huge
honor (okay, Sarah Mei is not someone I know, but I know very well of
<a href="http://railsbridge.org/">Railsbridge</a> and the many ways
it has paved forward diversity initiatives in free software).  Plus,
even though I don't know much about
<a href="https://hadoop.apache.org/">Hadoop</a>, I know others who do,
and the looming head of Doug Cutting behind us in videorecording
excited them!  And looking at
<a href="https://en.wikipedia.org/wiki/O'Reilly_Open_Source_Award">former recipients</a>,
nearly everyone on this list is a person who has made humongous
strides in shaping the world of free and open source software, and
let's face it, almost everyone on this list has done more in that
capacity than I have.
</p>

<p>
Which leads me to the surprise part... I was really not expecting this
award, so when I saw the email informing me I was being awarded it I
began to flag it as spam, assuming it was something that snuck past
spamassassin.  But wait, I actually <i>know</i> this award!  I then
preceded to try to get Morgan's attention (she was on the phone) by
exuberantly waving my arms, which lead our dog to jump up and also
wave her forelegs in a very similar fashion.
</p>

<p>
So that is all to say I'm very honored to have received the thing!
</p>

<p>
So, then I knew I received the award, but didn't know for what text I
was nominated until the ceremony, but I was really happy with it when
I heard it said: for my free software advocacy (and with those words)
and my work on <a href="http://mediagoblin.org">GNU MediaGoblin</a>
(GNU was pronounced with each letter as if a university chant...
G! N! U!).  I suspected as much and I'm glad I received the award under
that description.
</p>

<p>
And that is also to say I am really glad for the recognition!
</p>

<p>
The recognition does help, in some way, as a counterbalance to other
feelings.  In another sense, I also look at the list of other people
who have received the award and I feel a bit embarrassed because I
think maybe I don't deserve it.  I had confided in this to some
friends (I guess it's no longer confiding now that I'm writing in a
blogpost), and the response has mostly been something along the lines
of "of course you do, just feel good about the thing", and of course
that's also the kind of thing you want to hear from your friends, and
it would be pretty embarrassing if they didn't say those kinds of
things in response, and you begin to wonder that given that if you're
playing some sort of scripted roles, and typing this I even wonder if
this "I don't deserve it" text is doing that too, and maybe it is,
maybe everything is... but I still think sometimes I am fooling
everyone and when I am given recognition that I am some kind of tricky
person, tricky enough to trick people into giving me an award for a
pile of incomplete things.
</p>

<p>
I think there are a variety of reasons for this, one of the more
obvious being that MediaGoblin is moving along but it isn't <i>there</i>
yet, something I think nobody is more deeply aware of than myself.
And people are still locked down by proprietary network services, we
still don't have a generally agreed upon federation standard, and it
is still <i>really hard to run your own server</i>.  These aren't my
battles alone and a good number of us are working on them, (and I even
have interesting things to report in these areas that I have not yet
blogged about) but when I think about things not being done I feel
personally responsible for it.  Part of the challenge also is that I
do not generally look at my life as in terms of things I have
accomplished, but in terms of the things I haven't, and obviously that
is not a great strategy for feeling good about the things you've done.
</p>

<p>
But let me turn this blogpost back around again, before I look like
some kind of jerk who gets an award and then mopes about it!
</p>

<p>
In this same sense the recognition has helped a lot.  Not everything
that I want to see done is done yet, but the O'Reilly Open Source
Award selection process happens through previous winners, so clearly
people who know better than I do have recognized that the things we've
done and the direction we're heading are the right ones.
</p>

<p>
You may notice that I'm switching between "I" and "we", so a bit more
on that... it's worth noting that any accomplishments I have are
connected to some significant free software community, so they're
hardly just "my" accomplishments... that statement of indicating that
the roads we're heading down are the right ones applies to all the
people in the communities of which I've become some apparent type of
minor figurehead.  (Be wary of pedestals, with coordination like mine,
a great way to dash oneself against the floor...)
</p>

<p>
So!  That's a lot of words there, but the crux it is that I'm still
excited to have gotten the award, and as much of a worrier as I am,
the recognition is especially nice as a kind of reassurance.  In the
meanwhile, I have a fancy new bookshelf and a nice little display for
this hunk of glass:
</p>

<p class="centered">
  <a href="/etc/images/blog/bookshelf_with_award_full.jpg">
    <img src="/etc/images/blog/bookshelf_with_award_full-scaled.jpg" alt="On the bookshelf" /></a>
</p>

<p class="centered">
  <a href="/etc/images/blog/bookshelf_with_award_zoom.jpg">
    <img src="/etc/images/blog/bookshelf_with_award_zoom-scaled.jpg" alt="On the bookshelf, zoomed in a bit" /></a>
</p>

<p class="centered">
  <a href="/etc/images/blog/oreilly_award.jpg">
    <img src="/etc/images/blog/oreilly_award-scaled.jpg" alt="O'Reilly award, on display" /></a>
</p>

<p>
Pretty cool hunk of glass, right?  I think so!
</p>

<p>
<i>PS:</i> John Sullivan snapped this image of Stefano Zacchiroli and I right
after the ceremony, on a trip to Powell's books.
</p>

<p class="centered">
  <a href="/etc/images/blog/award_winners.jpg">
    <img src="/etc/images/blog/award_winners-scaled.jpg" alt="Award Winners at Pow-ells" /></a>
  <br />
  <i>
    "Award Winners" photo taken by John Sullivan
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
  </i>
</p>
