title: Patent Absurdity
date: 2010-06-13 19:29
tags: fsf, python, advocacy, chipy, patents, blender, foss, creative-commons
author: Christine Lemmer-Webber
slug: patent-absurdity
---
<p>So, it's a bit strange writing about this since the film I'm about
to talk about has been out for two months.  I'm talking about <a href="http://patentabsurdity.com">Patent Absurdity</a>, directed by
Luca Lucarni, sponsored by the <a href="http://fsf.org">Free Software
Foundation</a> and with animations by... me!</p>

<a href="http://patentabsurdity.com/watch.html"><img src="/gfx/blog/patent_absurdity_poster.jpg" /></a>

<p>Actually, it's kind of surprising that I <i>haven't</i> written
about this sooner, considering the first several months of the year
this is mostly what I did in my non-work hours.  Unfortunately I
sustained a wrist injury right around the release that stopped me from
doing any typing outside of work hours up until just a couple of weeks
ago (it's healing but I still need to wear braces).  Anyway, that's a
separate story, probably worth its own post.</p>

<p>The film gives what I think is a really solid and enjoyable to
watch introduction to what software patents are, their history, and
the dangers they pose to the entire software ecosystem.  It elicited a
very positive response when released at <a href="http://groups.fsf.org/wiki/LibrePlanet2010">Libre Planet
2010</a>, and everyone I know who has watched to it has spoken highly
of it.  It could be that sample's response has to do with the type of
people I tend to associate with, but anyway... I'm convinced that it's
a good and fairly accessible film (accessibility being something
something that these kinds of productions don't always end up
being).</p>

<p>So there actually four types of animations in the film.  There are
some very simple graph animations, a moving timeline of software
patent history, a "wargames"-type animation (what's featured on that
poster there), and an ending sequence that I won't spoil here.  Of all
of these the wargames sequence seemed to elicit the strongest reaction
from people, which is good because that's also the piece that involved
the most effort.  All of the animations involved <a href="http://inkscape.org">Inkscape</a> and <a href="http://blender.org">Blender</a> in some form, but the wargames
animation also made use of <a href="http://wiki.blender.org/index.php/Dev:2.5/Py/API/Intro">Blender's
new Python API</a>, which is awesome.</p>

<p>In fact, just this thursday I <a href="http://carlfk.blip.tv/file/3744569">gave a talk on Blender and
Python in Patent Absurdity</a> at <a href="http://chipy.org">ChiPy</a>.  (Thanks to Carl Karsten for doing
awesome video recording, as usual. :)) Giving a talk on the Python API
in Blender at ChiPy is something I've wanted to do for a couple of
years, so it was great to finally do it.  And the audience reaction
was very positive.  As you can see in the video, there were a lot of
questions, and I got a lot of positive feedback (and even more
questions) after the talk ended.  Suffice to say I'm rather happy with
things.</p>

<p>Oh yeah, and I've also released the <a href="http://patentabsurdity.com/fsf_patent_anims.tar.gz">Patent
Absurdity animation sources</a> along with a full README (<a href="http://dustycloud.org/tmp/PAT_ABSURDITY_README.html">HTML export
here</a>).  While Patent Absurdity is released as <a href="http://creativecommons.org/licenses/by-nd/3.0/">CC BY-ND
3.0</a>, I've released all the data (including the Blender and
Inkscape files) for the animations as free culture under <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
and the Python files as free software under the <a href="http://www.gnu.org/licenses/gpl.html">GNU GPLv3</a>.  So in case
you wanted to see how those things work, you are fully free to modify,
distribute and tinker with them... free as in freedom. :)</p>
