title: Phyllis Fox, documenting Lisp History
date: 2017-03-08 12:53
author: Christine Lemmer-Webber
tags: lisp
slug: phyllis-fox-documenting-lisp
---
<p>
  In honor of International Womens' Day, let's celebrate
  <a href="http://history.siam.org/oralhistories/fox.htm">Phyllis Fox</a>,
  who may have saved
  <a href="https://en.wikipedia.org/wiki/Lisp_%28programming_language%29">Lisp</a>
  from the dustbin of history... by documenting it.
  From her <a href="http://history.siam.org/pdfs2/Fox_final.pdf">oral history</a>:
</p>
<blockquote>
  </blockquote><p><b>HAIGH:</b> So you say that you wrote the first LISP manual?</p>
  <p><b>FOX:</b> Now, this was not because I was a great LISP programmer, but they never documented or wrote down anything, especially McCarthy. Nobody in that group ever wrote down anything. McCarthy was furious that they didn’t document the code, but he wouldn’t do it, either. So I learned enough LISP that I could write it and ask them questions and write some more. One of the people in the group was a student named Jim Slagel, who was blind. He learned LISP sort of from me, because I would read him what I had written and he would tell me about LISP and I would write some more. His mind was incredible. He could give lectures. Have you ever seen a blind person lecture?</p>
  <p><b>HAIGH:</b> No.</p>
  <p><b>FOX:</b> They write on a black (or white) board, and then they put a finger on the board at the point they have stopped to keep the place. Then they talk some more and then they go on writing. His mind was remarkable. He was very helpful to me. But I wrote those manuals. I would ask questions from Minsky or McCarthy, and I got it done. I think it was helpful for people to have it. I guess, essentially I’m a documenter. If you’re looking for it, that’s what I am.</p>

<p>
  <a href="https://en.wikipedia.org/wiki/Phyllis_Fox">Phyllis Fox did
    a lot more than that</a>,
  but as a Lisp enthusiast, thank you to Dr. Fox for preserving our
  programming knowledge!</p>
