title: A sweet and savory cabbage recipe
date: 2014-05-24 13:18
author: Christine Lemmer-Webber
tags: recipe, diet, cabbage
slug: sweet-savory-cabbage
---
<p>
  There's plenty of interesting things to talk about lately, and I'll
  get to them soon.  I'm on something I've titled "research-cation"
  where I'm still kind of working, but it's also kind of like
  vacation, but really I'm mostly working on doing research for
  MediaGoblin's future.
</p>

<p>
  In the meanwhile, I'm back in diet mode, basically because the
  MediaGoblin campaign was <i>hard</i> on my health.  But also, the
  tooling I had in orgmode was never that great, so I've revamped
  <a href="https://gitorious.org/org-diet/org-diet">org-diet</a>.
  I might write a separate post on this... there's a lot of reasons
  why I did the revamp (it's not in master yet, but in the date-tree
  branch).  I'm now doing daily uploads of my current health status
  which you can <a href="http://dustycloud.org/tmp/org_diet_results.html">view here</a>
  (yes, org-diet now is super flexible about generating reports).
</p>

<p>
  I'm not going into details on that in this post, but I did recently
  just re-make one of my favorite recipes of all time with a number of
  adjustments.  I forgot just <i>how good</i> it is.  Anyway, here it is:
</p>

<table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">


<colgroup>
<col class="left"></col>

<col class="right"></col>

<col class="right"></col>

<col class="right"></col>
</colgroup>
<thead>
<tr>
<th scope="col" class="left">Ingredients</th>
<th scope="col" class="right">Calories</th>
<th scope="col" class="right">Quantity</th>
<th scope="col" class="right">Total</th>
</tr>
</thead>
<tbody>
<tr>
<td class="left">head cabbage</td>
<td class="right">290</td>
<td class="right">1</td>
<td class="right">290</td>
</tr>

<tr>
<td class="left">tbsp olive oil</td>
<td class="right">119</td>
<td class="right">1</td>
<td class="right">119</td>
</tr>

<tr>
<td class="left">Westsoy baked tofu square</td>
<td class="right">90</td>
<td class="right">4</td>
<td class="right">360</td>
</tr>

<tr>
<td class="left">medium onion</td>
<td class="right">44</td>
<td class="right">1</td>
<td class="right">44</td>
</tr>

<tr>
<td class="left">can kidney beans</td>
<td class="right">385</td>
<td class="right">1</td>
<td class="right">385</td>
</tr>

<tr>
<td class="left">apple</td>
<td class="right">71</td>
<td class="right">2</td>
<td class="right">142</td>
</tr>

<tr>
<td class="left">tbsp nutritional yeast</td>
<td class="right">25</td>
<td class="right">2</td>
<td class="right">50</td>
</tr>

<tr>
<td class="left">tbsp vegetarian bullion</td>
<td class="right">0</td>
<td class="right">1.5</td>
<td class="right">0</td>
</tr>

<tr>
<td class="left">tbsp tamari / braggs liquid aminos</td>
<td class="right">0</td>
<td class="right">2</td>
<td class="right">0</td>
</tr>

<tr>
<td class="left">tbsp cornstarch</td>
<td class="right">30</td>
<td class="right">1/3</td>
<td class="right">10</td>
</tr>

<tr>
<td class="left">clove garlic</td>
<td class="right">4</td>
<td class="right">4</td>
<td class="right">16</td>
</tr>
</tbody>
<tbody>
<tr>
<td class="left">Total</td>
<td class="right"> </td>
<td class="right">8</td>
<td class="right">177</td>
</tr>
</tbody>
</table>

<p>
This recipe is cheap, healthy, and most importantly, delicious.
It has very few calories (a mere 177 calories... that's nothing!) but
tastes pretty amazing.  I usually start some rice in the rice cooker
before I kick this off&#8230; put in two cups and that's a mere 120
calories on top of this.  Only 297 calories!  Despite that, it's quite
filling. (Tasty, too!)
</p>

<p>
The nutritional yeast is optional, but I like it.  You can use
whatever bullion you like, but I like the Frontier Natural Products
beef-ish tasting vegetarian bullion.  Alternately, adding brewers
yeast and a bit more salt is great.
</p>

<p>
You also don't have to use the westsoy baked tofu.  You could use any
other protein here.  A lot of other kinds you have to fry up in
advance though, and the westsoy stuff is already done and tastes great
and I'm lazy.  If you don't have tamari or liquid aminos, just up the
bullion.
</p>

<p>
This makes 8 servings!  It usually takes me about 50 minutes to make
but I'm slow.
</p>

<p>
Okay, so!  Here's my recipe.  You're going to need a large pot, a
large cutting board, and a large mixing bowl.
</p>
<ul class="org-ul">
<li>Get out a large cutting board and chop up cabbage.  You want it in
pieces probably, though if you prefer tiny ribbons that's fine.
Set aside in mixing bowl.
</li>
<li>Chop onions and, if you like, a couple cloves of garlic.  Chop up
the apples into chunks or wedges.  Personally I like wedges.
</li>
<li>Take your large pot, add the olive oil (or whatever oil really) and
onion (also garlic if using).  Saute that for a few minutes, until
it starts to brown.  Add apple and saute a bit longer, until the
apple starts to brown a little.
</li>
<li>Add a cup of water and stir around the ingredients for about two
minutes.
</li>
<li>Dump in the cabbage into the pot.  It'll seem like a lot and like
you'll never be able to stir this thing.  (I told you to get a big
pot!)  Don't worry, it cooks down.
</li>
<li>Add salt and pepper.  Add some more water&#8230; I think I usually add
about 1 more cup at this point.  Stir around the cabbage in and out
of the water as best you can for a minute or so.  Then cover the
pot and let it cook down for five minutes.
</li>
<li>While the cabbage is cooking, chop the baked tofu into cubes, or
tear it apart with your fingers if you get grossed out by cubes of
tofu.
</li>
<li>Return to the pot.  The cabbage should be a bit more cooked down
now, but not quite there.  Add bullion, nutritional yeast, and
tamari/liquid aminos.  Open the kidney beans and pour the excess
liquid right into the pot.  Add more salt and pepper if you like.
Now stir that stuff.  Get that cabbage in and out of the broth!
</li>
<li>At this point you need to let the cabbage cook down.  I usually let
it cook down a little bit less than half way.  Stir it
occasionally.
</li>
<li>Stir together the cornstarch in 1/4 cup of water.  You're trying to
make a small slurry that'll thicken the broth into a kind of gravy.
</li>
<li>Open the pot and pour the cornstarch in and add the tofu.
Time to start stirring again.  Stir stir stir!
</li>
<li>Give it a few minutes and the sauce should thicken.  The cabbage
should become tender but not totally mushy.  When you hit that
point, stop cooking.
</li>
<li>Serve with rice or some kind of grain.  I usually put a tablespoon
of cheap parmesan cheese on top too, but whatever you like, go for
it.
</li>
</ul>

<p>
  Enjoy!
</p>
