title: Switched blog to PyBlosxom
date: 2011-12-03 00:05
tags: blog
author: Christine Lemmer-Webber
slug: switched-blog-to-pyblosxom
---
<p>
  It seems like it was just a few months ago that I
  <a href="/blog/2010/5/31/switched-blog-to-zine">switched my blog
  over to Zine</a>.  Well, actually it was a little bit over a year
  ago, but I've barely blogged since then. :\
</p>

<p>
  Actually the fact of the matter is that I thought that by switching
  from my homerolled blog to <a href="http://zine.pocoo.org/">Zine</a>
  that I'd feel less frustrated about running my blog because it
  wouldn't just be some homerolled software that I was running, and I
  could contribute back to some larger project if I wanted to.  But
  Zine turned out to be unmaintained basically, I wasn't really
  interested in spending time contributing to it, and most
  significantly, I didn't enjoy using it.  Not because it's bad
  software, I just didn't enjoy blogging in it, the same way that when
  I blog in Wordpress for work I just don't enjoy it.  But lately I've
  been <a href="http://mediagoblin.org/news/">blogging for
  MediaGoblin</a> (well, a lot of the actual writing is done
  by <a href="http://eximiousproductions.com/">Deb
  Nicholson</a>).  <a href="http://mediagoblin.org">http://mediagoblin.org</a>
  is actually done
  using <a href="http://pyblosxom.bluesock.org/">PyBlosxom</a> (a
  project maintained by friend and fellow MediaGoblin
  contributor <a href="http://bluesock.org/~willg/">Will
  Kahn-Greene</a>) and I've come to realize I really enjoy writing in
  a plaintext site/blog setup I can just keep in git.
</p>

<p>
  So I switched over.  However, I already had the site using
  <a href="http://jinja.pocoo.org/docs/">Jinja2 templates</a> for Zine
  and <a href="https://gitorious.org/ventriloquist">Ventriloquist</a>
  (something simple but semi-neat I should really write about) so I
  figured that why not shave a whole herd of yaks and add a
  <a href="https://gitorious.org/pyblosxom-jinja2-plugin">Jinja2
  renderer plugin to Pyblosxom</a>.  So I did, and actually... I'm
  fairly happy with it.  I also think this plugin could maybe be a
  cool direction for PyBlosxom, but... more on that later maybe?
</p>

<p>
  In the meanwhile, most of the site is ported over, some embarassing
  things are cleaned up, and a few things are now also missing.
  Namely, comments and tagging.  Tagging should be back soon, but I'm
  not too sure about when comments will be back.  Oh well, nobody was
  commenting on here anyway.  (I have the old comments stashed away on
  my hard drive but they aren't on here yet for now either.)
</p>

<p>
  Anyway, that's it for now.  Now I'd better write a whole bunch more
  blogposts so that this blog doesn't become one of those crappy blogs
  where people just blog about (not) blogging.  I guess it already
  kind of is...
</p>
