title: Talks and conferences in March 2012
date: 2012-03-02 08:29
tags: mediagoblin, conference, talk, pycon, libreplanet, flourish
author: Christine Lemmer-Webber
slug: talks-in-march-2012
---
<p>This month is going to be pretty intense... maybe I should even say
"pretty insane".  I'm going to be at three different conferences.
Maybe I'll see you at one?</p>

<ul>
  <li>
    <b><a href="https://us.pycon.org/2012/">PyCon</a> --</b>
    I've been attending PyCon every year since 2008.
    As with most years, I'll be on the video crew.  
    Last year I
    <a href="http://blip.tv/pycon-us-videos-2009-2010-2011/pycon-2011-using-blender-s-new-bpy-python-api-4898905">gave
    a talk on Blender's Python API</a>
    (<a href="http://j23.video2.blip.tv/10810008415300/Pycon-PyCon2011UsingBlendersNewBPYPythonAPI725.ogv">video
    here</a>).  This year I missed the deadline to give a talk, but I
    will be giving a poster session
    with <a href="http://eximiousproductions.com/">Deb Nicholson</a>
    on <a href="http://mediagoblin.org/">MediaGoblin</a>.  (Deb
    handles most of our press related stuff, including writing up most
    of our blogposts.  She does a really great job!)
    PyCon is always a fantastic conference, and apparently news of
    that has gotten around.  This year both the hotel and admission to
    PyCon sold out a month in advance.  Yow!
  </li>
  <li>
    <b><a href="http://libreplanet.org/wiki/LibrePlanet2012">LibrePlanet</a> --</b>
    This year I'll be presenting with Mike Linksvayer about Creative
    Commons.  I suspect it'll be a fairly wide ranging talk, going
    from the <a href="http://wiki.creativecommons.org/4.0">4.0 license
    process</a> to bridging Creative Commons and free software.
    Unfortunately, I'm attending a wedding on Saturday, so I'll only
    be around for Sunday.  However I'll be in the Boston area for a
    few days afterwards, crashing at Deb Nicholson's place.  If you
    want to meet up, <a href="/contact/">let me know</a>.
    <br />
    Not sure if somehow MediaGoblin will tie into this whole thing,
    but in a sense it's very pertinent to LP2012 since it started
    right after LibrePlanet 2011 (which I didn't attend), is a GNU
    project, and I started planning it immediately after LibrePlanet
    2010 when I finished up my work with the FSF
    on <a href="http://patentabsurdity.com/">Patent Absurdity</a>
    (debuted at LP2010; I did the animations for the film as
    <a href="http://dustycloud.org/blog/2010/6/13/patent-absurdity.html">mentioned
    previously</a>.
  </li>
  <li>
    <b><a href="http://www.flourishconf.com/2012/">Flourish</a> --</b>
    I'll be speaking at Flourish this year on (surprise, surprise)
    MediaGoblin.  Flourish is a good conference, in Chicago, and
    really cheap.  In fact, it costs nothing, and if
    you <a href="http://www2.flourishconf.com/2012/registration.php">register
    in advance</a> you can even get a free (as in t-shirts) shirt.
    It's a good "tech and culture of free software" type conference.
  </li>
</ul>

<p>
  Wow, that's a lot of conferences!  And a wedding!  Yesterday my
  friend <a href="http://bluesock.org/~willg/">Will</a> commented to
  Deb (whose life is pretty much nonstop conferences)
  "I don't know how you do it. I do a conference and then I have to
  hug myself in a dark room for a month to rejuvenate."  Too true.  I
  think after this month is over I'm going to have to
  <a href="http://en.memory-alpha.org/wiki/Odo%27s_bucket">reconstruct
  myself in a bucket</a> for a day or so.
</p>
