title: Urinal model
date: 2011-02-15 17:30
tags: free-culture, blender, boingboing, creative-commons, by-sa
author: Christine Lemmer-Webber
slug: urinal-model
---
<p>In December <a href="http://robmyers.org">Rob Myers</a> contacted
me about a commision of making a urinal in <a href="http://blender.org">Blender</a>
as <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA
3.0</a>.  He wanted to get it 3d printed
via <a href="http://www.shapeways.com/">Shapeways</a>, etc.  I agreed
to it with moderate enthusiasm.  Most of the things I do are more
<a href="http://dustycloud.org/gfx/gallery/blender/zugg_scene_wc_pp-med.png">gobliny</a>
or <a href="http://dustycloud.org/gfx/gallery/blender/fear_of_flight-small.png">monsterish</a>.
But, I figured, Rob Myers is such an awesome free culture advocate and
a good friend, it would be a challenge to do something different, and
that it would be pretty awesome to see a model of mine 3d printed.
Besides, how long could an object that looked so simple take?</p>

<p>Well it ended up taking about 5 times longer than I expected.  But
the results, I thought, were pretty good:</p>

<p>
  <img src="http://dustycloud.org/gfx/gallery/blender/urinal_blog.jpg" alt="urinal render" />
</p>

<p>As usual, I neglected blogging about cool things once I'd done
them, but Rob Myers pushed it all over the place.  First a post on his
blog called
<a href="http://robmyers.org/weblog/2011/02/freeing-art-history-urinal.html">Freeing
Art History: Urinal</a>.  Then
he <a href="http://robmyers.org/weblog/2011/02/urinal-follow-up.html">uploaded
it to Thingiverse</a> and... super
cool... <a href="http://www.thingiverse.com/BotFarm">BotFarm</a> (from
the MakerBot
people!) <a href="http://www.thingiverse.com/derivative:6474">printed
one</a>.  It looks super cool.  Click that last link.  Click it!</p>

<p>But last, and most
awesomely, <a href="http://robmyers.org/weblog/2011/02/shapeways-urinal-print.html">Rob
got his Shapeways urinal print</a>, which looks super awesome.  And
guess
what?  <a href="http://www.boingboing.net/2011/02/15/print-your-own-ducha.html">BoingBoing
picked it up!</a>  <i>Holy cow, I'm on BoingBoing!</i></p>

<p>Anyway,
the <a href="http://dustycloud.org/gfx/gallery/blender/urinal.blend">urinal.blend</a>
is available if you want to open it in Blender
(also <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC
BY-SA 3.0 Unported</a> licensed).  Hopefully you can have fun using it
(digitally or physically)!  I also have
some <a href="http://dustycloud.org/gfx/gallery/blender/urinal_backside.png">renders</a>
from <a href="http://dustycloud.org/gfx/gallery/blender/urinal_upright.png">alternate</a> <a href="http://dustycloud.org/gfx/gallery/blender/urinal_upright2.png">angles</a>
up if you want to look at those.</p>

<p>Anyway, sometimes when I do things, I think "maybe I should blog
about or promote these things".  But then I feel like they aren't that
impressive, don't matter too much, and sometimes I lose enthusiasm for
putting them out there (which is somewhat ironic since a good portion
of my life is about encouraging other people to put things out there
in a free-as-in-freedom manner).  I guess maybe the biggest thing I've
learned from this is that maybe I should be more confident and
enthused about showing the cool things I've done.  Thanks Rob, for
giving me an opportunity to learn that. :)</p>

<p><b>PS:</b> I mentioned that most of my 3d modeling involves monsters, spaceships, robots, etc, and that here was an excuse to do something different.  But that didn't stop me from making a <a href="http://dustycloud.org/tmp/urinal_spaceship_screenshot.png">spaceshipified version</a>. :)</p>
