title: Vegan Strawberry Vanilla Rose Black Tea Shortbread Cookies
date: 2010-06-25 01:55
tags: food, cookies, cooking, vegan
author: Christine Lemmer-Webber
slug: vegan-strawberry-vanilla-rose-black-tea-shortbread-cookies
---
<p>I've never foodblogged before, but today I am compelled to start.
For today is Morgan's 25th birthday, and in honor of that I've created
something so delicious it <i>must</i> be shared with the world.
Behold:</p>

<img src="http://dustycloud.org/gfx/blog/vegan_strawberry_black_tea_cookies-medium.png" alt="Vegan strawberry vanilla rose black tea cookies" />

<p>Morgan's favorite tea is Celestial Seasoning's <a href="http://www.celestialseasonings.com/products/detail.html/special-occasion-teas/vanilla-strawberry-rose">Vanilla
Strawberry Rose Ceylon Black Tea</a>.  Also, Morgan alleges that her
"favorite food group is cookies".  (I'm pretty sure she's confused, as
last time I'd checked cookies weren't a food group, but I guess I
won't argue the point on her birthday.)  I figured that a good gift
this year would be to combine her two favorite tea with her favorite,
<i>*ahem*</i>, food group.  The result?  Strawberry vanilla rose black
tea cookies!</p>

<p>I adapted the recipe from the recipe for shortbread cookies from
the excellent
<a href="http://theppk.com/vegan-cookies.html">Vegan Cookies Invade
Your Cookie Jar</a>'s shortbread cookie recipe (so yes, these cookies
are vegan too).  I'm actually no good at baking, but these came out
perfect, even despite the fact that I accidentally spilled a little
bit of water into the dough (I had to bake them for a few minutes
longer and I added about two tablespoons more flour to the mix, but
they turned out just fine).  I'm going to assume you aren't going to
spill water into your cookies, so here's the recipe without that
detail.  (A good portion of the text is from VCIYCJ, which is a good
book so far and is really what makes the recipe so awesome and
idiot-proof.)</p>

<h2>Strawberry Vanilla Rose Black Tea Cookies</h2>

<p>
  <b>Ingredients:</b>
  <ul>
    <li>1 cup non-hydrogenated margarine, slightly softened</li>
    <li>2/3 cup sugar</li>
    <li>1 teaspoon pure vanilla extract</li>
    <li>1 1/2 teaspoons rose water</li>
    <li>2 cups all-purpose flour</li>
    <li>1/3 cup cornstarch</li>
    <li>
      1/4 cup dried strawberries, chopped, plus a dozen or so whole
      ones for decorating
    </li>
    <li>
      1/4 cup loose black Ceylon tea
      (or 1/3 cup if you want a stronger tea flavor)
    </li>
  </ul>
</p>

<p>
  <b>Instructions:</b>
  <ol>
    <li>Preheat oven to 350°F.  Lightly grease a large cookie sheet.</li>
    <li>In a small bowl, sift together flour and cornstarch.  Set aside.</li>
    <li>
      In a spice mill or small coffee grinder, grind the tea until it
      becomes a fine powder.
    </li>
    <li>
      In a large bowl, beat the margarine and sugar together with an
      electric beater or even a standing electric mixer.  Scrape the
      sides of the bowl frequently with a rubber spatula and beat the
      mixture until very light and creamy, about 5 minutes.  Stir in
      the vanilla and rose water.
    </li>
    <li>
      Add half of the sifted flour and cornstarch to the beaten
      margarine mixture, using the rubber spatula to fold in the flour
      first so that it doesn't fly all over the place when using the
      mixer beaters.  Beat until mostly combined, then add the rest of
      the flour mixture along with the tea powder and chopped
      strawberries, using the spatula as before.  Continue to stir
      until all the flour and cornstarch are absorbed and dough is
      crumbly yet soft and moist.
    </li>
    <li>
      Knead dough together with hands for about one minute.  Roll golf
      ball sized portions of the dough in your hands.  Put a whole
      strawberry on top of each and press gently with your hand onto
      the greased cookie sheet.
    </li>
    <li>
      Bake for about 10-14 minutes, until the shortbread begins to
      puff and the edges begin to turn a golden color.
    </li>
    <li>
      Remove from oven and allow to cool on cookie sheet for about 5
      minutes.  Then use a spatula to transfer cookies to cooling rack
      to complete the cooling process.
    </li>
  </ol>
</p>

<p>And you're done!  Delicious cookies await!</p>
